<p-dialog [header]="'Finalizar proyecto'" [(visible)]="visiblePopUpScore" *ngIf="searchProject.participants">
  <app-modal-score [users]="searchProject.participants" (eventEmitterHiddenPopUpScore)="hiddenPopUpScore($event)"
    (eventEmitterScoreUsers)="finishProject($event)"></app-modal-score>
</p-dialog>

<p-dialog header="Redactar mensaje" *ngIf="currentUser && searchProject._id" [(visible)]="visiblePopUpInvitationProject" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <app-modal-invitation-project [project]="searchProject" [userEmisor]="currentUser" (emitContact)="sendMailSuggestProject($event)"></app-modal-invitation-project > 
</p-dialog> 

<div class="card text-center" *ngIf="spinner">
  <span>
    <p-progressSpinner></p-progressSpinner>
  </span>
  <br />
  <span class="text-center">Cargando...</span>
</div>

<div class="profile" *ngIf="!spinner && searchProject">
  <div class="container rounded">
    <span class="fst-italic text-secondary small"><i class="m-1 pi pi-arrow-circle-left"></i>
      <a href="" class="text-secondary" style="text-decoration: none" routerLink="/project/list-project">Volver</a>
      |
      <a routerLink="/project/details-project/1" class="text-secondary" style="text-decoration: none">{{
        searchProject.name }}</a></span>
    <div class="card shadow-sm" style="width: 100%; min-height: 700px">
      <app-banner [title]="searchProject.name" [subtitle]="'Aplicacion ' + searchProject.type"
        [short]="true"></app-banner>
      <p-tabView class="p-3" [scrollable]="true" [(activeIndex)]="activeIndex">
        <p-tabPanel [cache]="false" header="Datos del proyecto">
          <div class="row">
            <div class="col-12">
              <h5>Descripción</h5>
              <p>{{ searchProject.description }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <p>
                <b>Fecha inicio: </b>
                <span>{{ searchProject.startDate | date : "dd/MM/YYYY" }}</span>
              </p>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <p>
                <b>Cantidad de participantes: </b>
                <span> {{searchProject.participants.length}} / {{ searchProject.amountParticipants }}</span>
              </p>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <p>
                <b>Complejidad: </b>
                <span>{{ searchProject.complexity }}</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <p><b>Tecnologías:</b></p>
              <ul>
                <li *ngFor="let tecnologie of searchProject.technologies">
                  {{ tecnologie }}
                </li>
              </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <p>
                <b>Estado del proyecto: </b>
                <span>{{ searchProject.status }}</span>
              </p>
            </div>
          </div>
          <div class="row" *ngIf="searchProject.urlRepository">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
              <p class="link">
                <b>Url del repositorio: </b>
                <a target="_blank" [href]="searchProject.urlRepository">{{
                  searchProject.name
                  }}</a>
              </p>
            </div>
          </div>
          <div class="" *ngIf="
              !searchProject.urlRepository &&
              searchProject.leader?._id == currentUser?._id
            ">
            <div class="row" *ngIf="!visibleInputGithub">
              <div class="col-12">

                <p-button type="button" iconPos="right" icon="bi bi-github" [style]="{ width: '100%' }"
                  label="Vincular con github" class="github" styleClass="p-button-secondary"
                  (click)="linkInputProjectWithGithub()"></p-button>
                <p-button type="button" iconPos="right" icon='fa-brands fa-square-gitlab' [style]="{ width: '100%' }"
                  label="Vincular con gitlab" class="gitlab mx-2" styleClass="p-button-secondary"
                  (click)="linkInputProjectWithGitlab()"></p-button>
                <p class="mt-3">
                  <strong>Al vincular el proyecto a github/gitlab tendrás acceso a métricas y a las actividades de los
                    integrantes</strong>
                </p>
              </div>
            </div>
            <div class="row mt-3" *ngIf="visibleInputGithub">
              <div class="col-6">
                <label for="github">Ingresa el link del repositorio</label>
                <input type="url" [(ngModel)]="linkGithubProject" class="form-control" id="github-link" />
                <p-button (click)="linkProjectWithGithub()" type="button" [style]="{ width: '100%' }"
                  label="Vincular repositorio" class="mt-3" styleClass="p-button-help"></p-button>
                <p-button (click)="backLinkWithRepository()" type="button" [style]="{ width: '100%' }" label="Volver"
                  class="mt-3 mx-2" styleClass="p-button-help"></p-button>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <!-- <p-tabPanel header="Perfiles">
          <div class="w-50 d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <p-radioButton name="profile" value="front-1" inputId="1" class="me-1"
                [(ngModel)]="profile"></p-radioButton>
              <p style="margin: 0">Front End Developer Angular</p>
            </div>
            <p-tag [severity]="'warning'" value="SIN ASIGNAR"></p-tag>
          </div>
          <div class="w-50 d-flex justify-content-between">
            <div class="d-flex">
              <p-radioButton name="profile" value="front-2" inputId="2" class="me-1"
                [(ngModel)]="profile"></p-radioButton>
              <p style="margin: 0">Front End Developer Angular</p>
            </div>
            <p-tag [severity]="'warning'" value="SIN ASIGNAR"></p-tag>
          </div>
          <div class="w-50 d-flex justify-content-between">
            <div class="d-flex">
              <p-radioButton name="profile" value="back-1" inputId="3" class="me-1"
                [(ngModel)]="profile"></p-radioButton>
              <p style="margin: 0">Back End Developer Node JS</p>
            </div>
            <p-tag [severity]="'warning'" value="SIN ASIGNAR"></p-tag>
          </div>
          <div class="w-50 d-flex justify-content-between">
            <div class="d-flex">
              <p-radioButton name="profile" value="back-2" inputId="4" class="me-1"
                [(ngModel)]="profile"></p-radioButton>
              <p style="margin: 0">Back End Developer Node JS</p>
            </div>
            <p-tag [severity]="'warning'" value="SIN ASIGNAR"></p-tag>
          </div>
          <div class="w-50 d-flex justify-content-between">
            <div class="d-flex">
              <p-radioButton name="profile" value="ux" inputId="2" class="me-1" [(ngModel)]="profile"></p-radioButton>
              <p style="margin: 0">UX Designer</p>
            </div>
            <p-tag [severity]="'warning'" value="SIN ASIGNAR"></p-tag>
          </div>
          <div class="w-50 d-flex justify-content-between">
            <div class="d-flex">
              <p-radioButton name="profile" value="bbd" inputId="2" class="me-1" [(ngModel)]="profile"></p-radioButton>
              <p style="margin: 0">Gestor de Base de Datos MongoDB</p>
            </div>
            <p-tag [severity]="'warning'" value="SIN ASIGNAR"></p-tag>
          </div>
        </p-tabPanel> -->
        <p-tabPanel header="Colaborar">
          <app-support-collaborate (eventEmitterSupportJoinProject)="joinAProject($event)"></app-support-collaborate>
        </p-tabPanel>
        <p-tabPanel header="Integrantes">
          <div *ngIf="!advancement">
            <h4>Lider</h4>
            <hr />
            <app-project-member (eventEmitterUserProgress)="seeProgressMember($event)"
              [user]="searchProject.leader"></app-project-member>
            <h4 class="mt-4" *ngIf=" searchProject.participants && searchProject.participants.length > 0">Integrantes
            </h4>
            <hr />
            <app-project-member (eventEmitterUserProgress)="seeProgressMember($event)"
              *ngFor="let member of searchProject.participants" [user]="member"></app-project-member>
            <h4 class="mt-4" *ngIf="searchProject.supports.length > 0">Soportes</h4>
            <hr />
            <app-project-member (eventEmitterUserProgress)="seeProgressMember($event)"
              *ngFor="let memberSupport of searchProject.supports" [user]="memberSupport"></app-project-member>
          </div>


          <div class="row" *ngIf="advancement">
            <div class="col-12">
              <h4>Integrantes</h4>
              <app-advancement-members *ngIf="commitActivity" [members]="commitActivity"></app-advancement-members>
            </div>
            <div class="row text-end mt-3">
              <div class="col-12 col-sm-12">
                <p-button (click)="backMembersProject()" type="button" [style]="{ width: '100%' }" label="Volver"
                  class="text-end" styleClass="p-button-help"></p-button>
              </div>
            </div>
          </div>

        </p-tabPanel>
        <p-tabPanel header="Métricas" *ngIf="searchProject.urlRepository && currentUser">
          <div class="card text-center" *ngIf="spinnerMetric">
            <span>
              <p-progressSpinner></p-progressSpinner>
            </span>
            <br>
            <span class="text-center">Cargando...</span>
          </div>
          <div class="row" *ngIf="!spinnerMetric">
            <div class="col-12">
              <h5 class="mx-3">Commits del proyecto:</h5>
              <app-chart-bar *ngIf="data" [data]="data"></app-chart-bar>
            </div>
          </div>
          <div class="row" *ngIf="!spinnerMetric">
            <div class="col-12">
              <app-char-radar *ngIf="dataRadar" [data]="dataRadar"></app-char-radar>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Post">
          <app-card-post [post]="post" *ngFor="let post of searchProject.posts"></app-card-post>
        </p-tabPanel>
        <div class="row text-end mt-5">
          <div class="col-12">
            <p-button class="ms-2" *ngIf="currentUser" type="button" styleClass="p-button-outlined p-button-help" label="Sugerir Proyecto"
              [style]="{ heigth: '30px !important' }" (click)="invitationProjectPopUp()"></p-button>
            <p-button (click)="joinAProject()" *ngIf="!userExistProject" type="button" [style]="{ width: '100%' }"
              label="Unirse al Proyecto" class="" styleClass="p-button-help"></p-button>
            <p-button class="ms-2" type="button" styleClass="p-button-outlined p-button-help" label="Finalizar Proyecto"
              *ngIf="
                currentUser &&
                searchProject?.leader?._id === currentUser._id &&
                searchProject.status != 'Done'
              " [style]="{ heigth: '30px !important' }" (click)="finishProjectPopUp()"></p-button>
          </div> 
        </div>
      </p-tabView>
    </div>
  </div>
</div>