<p-dialog [header]="'Finalizar proyecto'" [(visible)]="visiblePopUpScore" *ngIf="searchProject.participants">
  <app-modal-score [users]="searchProject.participants" (eventEmitterHiddenPopUpScore)="hiddenPopUpScore($event)"
    (eventEmitterScoreUsers)="finishProject($event)"></app-modal-score>
</p-dialog>

<div class="card text-center" *ngIf="spinner">
  <span>
    <p-progressSpinner></p-progressSpinner>
  </span>
  <br>
  <span class="text-center">Cargando...</span>
</div>

<div class="profile" *ngIf="!spinner && searchProject">
  <div class="container rounded">
    <span class="fst-italic text-secondary small"><a href="" class="text-secondary" style="text-decoration: none;"
        routerLink="/project/list-project">Volver</a> | <a routerLink="/project/details-project/1"
        class="text-secondary" style="text-decoration: none;">{{searchProject.name}}</a></span>
    <div class="card shadow-sm" style="width:100%; min-height: 700px;">
      <app-banner [title]="searchProject.name" [subtitle]="'Aplicacion ' + searchProject.type"
        [short]="true"></app-banner>
      <p-tabView class="p-3">
        <p-tabPanel [cache]="false" header="Datos del proyecto">
          <div class="row">
            <div class="col-12">
              <h5>Descripción</h5>
              <p>{{searchProject.description}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <p> <b>Fecha inicio: </b>
                <span>{{searchProject.startDate | date:'dd/MM/YYYY'}}</span>
              </p>
            </div>
            <div class="col-6">
              <p> <b>Fecha Fin: </b>
                <span>{{searchProject.startDate | date:'dd/MM/YYYY'}}</span>
              </p>
            </div>
            <div class="col-6">
              <p><b>Cantidad de participantes: </b>
                <span>{{searchProject.amountParticipants}}</span>
              </p>
            </div>
            <div class="col-6">
              <p><b>Complejidad: </b>
                <span>{{searchProject.complexity}}</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <p><b>Tecnologías:</b>
              <ul>
                <li *ngFor="let tecnologie of searchProject.technologies">{{tecnologie}}</li>
              </ul>
            </div>
            <div class="col-6">
              <p><b>Estado del proyecto: </b>
                <span>{{searchProject.status}}</span>
              </p>
            </div>
          </div>
          <div class="row" *ngIf="searchProject.urlRepository">
            <div class="col-12">
              <p class="link"><b>Url del repositorio: </b> <a target="_blank"
                  [href]="searchProject.urlRepository">{{searchProject.name}}</a></p>
            </div>
          </div>
          <div class="" *ngIf="!searchProject.urlRepository  && searchProject.leader?._id == currentUser?._id">
            <div class="row" *ngIf="!visibleInputGithub">
              <div class="col-12">
                <p>Al vincular Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quae vel pariatur sint
                  doloremque vero explicabo laudantium in ratione consequuntur, provident tempora minima porro nihil
                  dolor similique, ducimus fugiat quos.</p>
                <p-button type="button" iconPos="right" icon="bi bi-github" [style]="{ width: '100%' }"
                  label="Vincular con github" class="github" styleClass="p-button-secondary"
                  (click)="linkInputProjectWithGithub()"></p-button>
              </div>
            </div>
            <div class="row mt-3" *ngIf="visibleInputGithub">
              <div class="col-6">
                <label for="github">Ingresa el link del repositorio</label>
                <input type="url" [(ngModel)]="linkGithubProject" class="form-control" id="github-link">
                <p-button (click)="linkProjectWithGithub()" type="button" [style]="{ width: '100%' }"
                  label="Vincular repositorio" class="mt-3" styleClass="p-button-help"></p-button>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <!-- <p-tabPanel header="Perfiles">
          <div class="w-50 d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <p-radioButton name="profile" value="front-1" inputId="1" class="me-1"
                [(ngModel)]="profile"></p-radioButton>
              <p style="margin: 0">Front End Developer Angular</p>
            </div>
            <p-tag [severity]="'warning'" value="SIN ASIGNAR"></p-tag>
          </div>
          <div class="w-50 d-flex justify-content-between">
            <div class="d-flex">
              <p-radioButton name="profile" value="front-2" inputId="2" class="me-1"
                [(ngModel)]="profile"></p-radioButton>
              <p style="margin: 0">Front End Developer Angular</p>
            </div>
            <p-tag [severity]="'warning'" value="SIN ASIGNAR"></p-tag>
          </div>
          <div class="w-50 d-flex justify-content-between">
            <div class="d-flex">
              <p-radioButton name="profile" value="back-1" inputId="3" class="me-1"
                [(ngModel)]="profile"></p-radioButton>
              <p style="margin: 0">Back End Developer Node JS</p>
            </div>
            <p-tag [severity]="'warning'" value="SIN ASIGNAR"></p-tag>
          </div>
          <div class="w-50 d-flex justify-content-between">
            <div class="d-flex">
              <p-radioButton name="profile" value="back-2" inputId="4" class="me-1"
                [(ngModel)]="profile"></p-radioButton>
              <p style="margin: 0">Back End Developer Node JS</p>
            </div>
            <p-tag [severity]="'warning'" value="SIN ASIGNAR"></p-tag>
          </div>
          <div class="w-50 d-flex justify-content-between">
            <div class="d-flex">
              <p-radioButton name="profile" value="ux" inputId="2" class="me-1" [(ngModel)]="profile"></p-radioButton>
              <p style="margin: 0">UX Designer</p>
            </div>
            <p-tag [severity]="'warning'" value="SIN ASIGNAR"></p-tag>
          </div>
          <div class="w-50 d-flex justify-content-between">
            <div class="d-flex">
              <p-radioButton name="profile" value="bbd" inputId="2" class="me-1" [(ngModel)]="profile"></p-radioButton>
              <p style="margin: 0">Gestor de Base de Datos MongoDB</p>
            </div>
            <p-tag [severity]="'warning'" value="SIN ASIGNAR"></p-tag>
          </div>
        </p-tabPanel> -->
        <p-tabPanel header="Colaborar">
          <div class="problem-section">
            <h2>Problema del proyecto</h2>
            <p>Este proyecto tiene un problema que necesita ser resuelto para poder avanzar. El problema es el
              siguiente:</p>
            <ul>
              <li><strong>Descripción:</strong> El sistema de autenticación no está funcionando correctamente y los
                usuarios no pueden iniciar sesión.</li>
              <li><strong>Causa probable:</strong> Un error en la configuración del servidor de autenticación.</li>
              <li><strong>Impacto:</strong> Los usuarios no pueden acceder a las funcionalidades del sistema y el
                proyecto no puede avanzar sin resolver este problema.</li>
            </ul>
            <p-button type="button" [style]="{ width: '100%' }" label="Colaborar con proyecto" class=""
              styleClass=" p-button-help"><i class="m-1 fas fa-hands-helping"></i></p-button>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Integrantes">
          <h4>Lider</h4>
          <hr>
          <div class="row mt-3">
            <div class="col-2 d-flex justify-content-center">
              <img width="60" height="60" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user"
                class="rounded-circle">
            </div>
            <div class="col-7">
              <h4>{{searchProject.leader?.name}}</h4>
              <h6>{{searchProject.leader?.role}} Developer</h6>
            </div>
            <div class="col-3 text-center">
              <p-button type="button" [style]="{ width: '100%' }" label="Ver perfil" class=""
                styleClass="p-button-outlined p-button-help"
                routerLink="/user/see-profile/{{searchProject.leader?._id}}"></p-button>
            </div>
          </div>
          <h4 class="mt-4">Integrantes</h4>
          <hr>
          <div class="row mt-5" *ngFor="let participant of searchProject.participants">
            <div class="col-2 d-flex justify-content-center">
              <img width="60" height="60" src="../../../../../assets/img/no-user.jpg" alt="user"
                class="rounded-circle">
            </div>
            <div class="col-7">
              <h4>{{participant.name}}</h4>
              <h6>{{participant.role}} Developer</h6>
            </div>
            <div class="col-3 text-center">
              <p-button type="button" [style]="{ width: '100%' }" label="Ver perfil" class=""
                styleClass="p-button-outlined p-button-help"
                routerLink="/user/see-profile/{{participant._id}}"></p-button>
            </div>
          </div>
          <h4 class="mt-4">Soportes</h4>
          <hr>
          <div class="row mt-3" *ngFor="let participant of searchProject.supports">
            <div class="col-2 d-flex justify-content-center">
              <img width="60" height="60" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="user"
                class="rounded-circle">
            </div>
            <div class="col-7">
              <h4>{{participant?.name}}</h4>
              <h6>{{participant?.role}} Developer</h6>
            </div>
            <div class="col-3 text-center">
              <p-button type="button" [style]="{ width: '100%' }" label="Ver perfil" class=""
                styleClass="p-button-outlined p-button-help"
                routerLink="/user/see-profile/{{participant._id}}"></p-button>
            </div>
          </div>

          <!-- <div class="row mt-3">
            <div class="col-2 d-flex justify-content-center">
              <img width="60" height="60" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user"
                class="rounded-circle">
            </div>
            <div class="col-7">
              <h4>Ezequiel Sanson</h4>
              <h6>Back-end developer</h6>
            </div>
            <div class="col-3 text-center">
              <p-button type="button" [style]="{ width: '100%' }" label="Ver perfil" class=""
                styleClass="p-button-outlined" routerLink="/user/see-my-profile"></p-button>
            </div>
          </div> -->
        </p-tabPanel>
        <p-tabPanel header="Métricas" *ngIf="searchProject.urlRepository">
          <div class="row">
            <p-cascadeSelect optionLabel="integrants" optionGroupLabel="integrants" [options]="integrants"
              [style]="{ minWidth: '14rem', marginBottom: '1rem' }" placeholder="Seleccione un integrante" class="p-3">
            </p-cascadeSelect>
            <div class="row p-2">
              <div class="d-flex justify-content-center">
                <div class="w-75">
                  <app-chart-bar></app-chart-bar>
                </div>
              </div>
              <div class="col-6">
                <app-chart-doughnut></app-chart-doughnut>
              </div>
              <div class="col-6">
                <app-chart-line></app-chart-line>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Avances de integrantes" *ngIf="searchProject.urlRepository">
          <p-accordion [multiple]="true">
            <p-accordionTab *ngFor="let user of users" [header]="user.name">
              <ng-template #accordionHeaderTemplate>
                <div class="user-info">
                  <div class="user-avatar">
                    <p-avatar [image]="user.avatarUrl" size="small" shape="circle"></p-avatar>
                  </div>
                  <div class="user-name">{{ user.name }}</div>
                </div>
              </ng-template>
              <div class="commits-info">
                <ul>
                  <li *ngFor="let commit of user.commits">
                    <a [href]="commit.url" target="_blank">{{ commit.message }}</a>
                  </li>
                </ul>
              </div>
            </p-accordionTab>
          </p-accordion>
        </p-tabPanel>
        <p-tabPanel header="Post">
          <app-card-post [post]="post" *ngFor="let post of searchProject.posts"></app-card-post>
        </p-tabPanel>
        <!-- seccion MVP Del detalle del proyecto.. -->
        <!-- <p-tabPanel header="MVPs" *ngIf="projectAccept == true">
          <div class="row">
            <div class="d-flex justify-content-between mb-1">
              <div class="d-flex align-items-center justify-content-center">
                <p [style]="{ margin: '0 !important'}">MVP 0 - Crear pantallas que describen las funcionalidades</p>
              </div>
              <div>
                <p-button icon="pi pi-file-edit" type="button" [style]="{ width: '40px', height: '40px' }" label="" class="" styleClass="p-button-outlined-2" routerLink="/mvp/update"></p-button>
                <p-button icon="pi pi-desktop" type="button" [style]="{ width: '40px', height: '40px' }" label="" class="ms-1" styleClass="p-button-outlined-3" routerLink="/mvp/details-mvp/1"></p-button>
              </div>
            </div>
            <div class="d-flex justify-content-between mb-1">
              <div class="d-flex align-items-center justify-content-center">
                <p [style]="{ margin: '0 !important'}">MVP 1 - Presentar funcionalidades Core</p>
              </div>
              <div>
                <p-button icon="pi pi-file-edit" type="button" [style]="{ width: '40px', height: '40px' }" label="" class="" styleClass="p-button-outlined-2" routerLink="/mvp/update"></p-button>
                <p-button icon="pi pi-desktop" type="button" [style]="{ width: '40px', height: '40px' }" label="" class="ms-1" styleClass="p-button-outlined-3" routerLink="/mvp/details-mvp/1"></p-button>
              </div>
            </div>
            <div class="d-flex justify-content-between mb-1">
              <div class="d-flex align-items-center justify-content-center">
                <p [style]="{ margin: '0 !important'}">MVP 2 - Agregar funcionalidades de Valor</p>
              </div>
              <div>
                <p-button icon="pi pi-file-edit" type="button" [style]="{ width: '40px', height: '40px' }" label="" class="" styleClass="p-button-outlined-2" routerLink="/mvp/update"></p-button>
                <p-button icon="pi pi-desktop" type="button" [style]="{ width: '40px', height: '40px' }" label="" class="ms-1" styleClass="p-button-outlined-3" routerLink="/mvp/details-mvp/1"></p-button>
              </div>
            </div>
          </div>
          <div class="row text-end mt-5">
            <div class="col-12">
              <p-button type="button" [style]="{ width: '100%' }"
                label="Crear MVP" class="" styleClass=" p-button-help" routerLink="/mvp/create"></p-button>
            </div>
          </div>
        </p-tabPanel> -->
        <div class="row text-end mt-5">
          <div class="col-12">
            <p-button (click)="joinAProject()" *ngIf="!userExistProject" type="button" [style]="{ width: '100%' }"
              label="Unirse al Proyecto" class="" styleClass="p-button-help"></p-button>
            <p-button class="ms-2" type="button" styleClass="p-button-outlined p-button-help" label="Finalizar Proyecto"
              *ngIf="currentUser && searchProject?.leader?._id === currentUser._id && searchProject.status != 'Done'"
              [style]="{ heigth: '30px !important' }" (click)="finishProjectPopUp()"></p-button>
          </div>
        </div>
      </p-tabView>
    </div>
  </div>
</div>