<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<p-dialog [header]="'Finalizar proyecto'" [(visible)]="visiblePopUpScore" *ngIf="visiblePopUpScore">
  <app-modal-score [users]="searchProject.participants"
    (eventEmitterHiddenPopUpScore)="finishProjectHiddenPopUp($event)"
    (eventEmitterScoreUsers)="finishProject($event)"></app-modal-score>
</p-dialog>

<p-dialog header="Redactar mensaje" *ngIf="currentUser && searchProject._id" [(visible)]="visiblePopUpInvitationProject"
  [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <app-modal-invitation-project [project]="searchProject" [userEmisor]="currentUser"
    (emitContact)="sendMailSuggestProject($event)"></app-modal-invitation-project>
</p-dialog>

<div class="card text-center" *ngIf="spinner">
  <span>
    <p-progressSpinner></p-progressSpinner>
  </span>
  <br />
  <span class="text-center">Cargando...</span>
</div>

<div class="profile" *ngIf="!spinner && searchProject">
  <div class="container rounded">
    <span class="fst-italic text-secondary small"><i class="m-1 pi pi-arrow-circle-left"></i>
      <a href="" class="text-secondary" style="text-decoration: none" routerLink="/project/list-project">Volver</a>
      |
      <a routerLink="/project/details-project/1" class="text-secondary" style="text-decoration: none">{{
        searchProject.name }}</a></span>
    <div class="card shadow-sm" style="width: 100%; min-height: 700px">
      <app-banner [title]="searchProject.name" [subtitle]="'Aplicacion ' + searchProject.type" [short]="true"
        [roleUser]="searchProject.roleUser" [project]="searchProject" [updateProject]="searchProject.leader._id === currentUser?._id ? true : false"> 
      </app-banner>
      <p-tabView class="p-3" [scrollable]="true" [(activeIndex)]="activeIndex">
        <p-tabPanel [cache]="false" header="Datos del proyecto">
          <div class="row">
            <div class="col-12">
              <h5>Descripción</h5>
              <p>{{ searchProject.description }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12  col-lg-6">
              <p>
                <b>Fecha inicio: </b>
                <span>{{ searchProject.startDate | date : "dd/MM/YYYY" }}</span>
              </p>
            </div>
            <div class="col-12 col-lg-6">
              <p>
                <b>Cantidad de participantes: </b>
                <span> {{searchProject.participants.length}} / {{ searchProject.amountParticipants }}</span>
              </p>
            </div>
            <div class="col-12  col-lg-6">
              <p>
                <b>Complejidad: </b>
                <span>{{ searchProject.complexity }}</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12  col-lg-6">
              <p><b>Tecnologías:</b></p>
              <ul>
                <li *ngFor="let tecnologie of searchProject.technologies">
                  <img pTooltip="{{tecnologie}}" class="mx-2 img-technologie" width="25px" height="25px" [src]="'assets/img/technologies/' + getIcon(tecnologie)" [alt]="tecnologie">
                </li>
              </ul>
            </div>
            <div class="col-12  col-lg-6">
              <p>
                <b>Estado del proyecto: </b>
                <span>{{ searchProject.status }}</span>
              </p>
            </div>
          </div>
          <div class="row" *ngIf="searchProject.urlRepository">
            <div class="col-12 col-lg-6">
              <p class="link">
                <b>Url del repositorio: </b>
                <a target="_blank" [href]="searchProject.urlRepository">{{
                  searchProject.name
                  }}</a>
              </p>
            </div>
          </div>
          <div class="" *ngIf="
              !searchProject.urlRepository &&
              searchProject.leader?._id == currentUser?._id
            ">
            <div class="row btnGit" *ngIf="!visibleInputRepository">
              <div class="col-12 col-sm-12 col-dm-12 col-lg-12 col-xl-12 ">
                <p-button type="button" iconPos="right" icon="bi bi-github" [style]="{ width: '100%' }"
                  label="Vincular con github" class="github me-2" styleClass="p-button-secondary"
                  (click)="linkInputProjectToRepository()"></p-button>
                <p-button type="button" iconPos="right" icon='fa-brands fa-square-gitlab' [style]="{ width: '100%' }"
                  label="Vincular con gitlab" class="mt-2 " styleClass="p-button-danger"
                  (click)="linkInputProjectToRepository()"></p-button>
                <p class="mt-3">
                  <strong>Al vincular el proyecto a github/gitlab tendrás acceso a métricas y a las actividades de los
                    integrantes.</strong>
                </p>
              </div>
            </div>
            <div class="row mt-3" *ngIf="visibleInputRepository">
              <div class="col-6">
                <label for="repository">Ingresa el link del repositorio</label>
                <input type="url" [(ngModel)]="linkRepositoryProject" class="form-control" id="repository-link" />
                <p-button (click)="linkProjectToRepository()" type="button" [style]="{ width: '100%' }"
                  label="Vincular repositorio" class="mt-3 mb-2 me-2" styleClass="p-button-outlined p-button-help"></p-button>
                <p-button (click)="backLinkToRepository()" type="button" [style]="{ width: '100%' }" label="Cancelar"
                  class="mt-3 " styleClass="p-button-help"></p-button>
              </div>
            </div>
          </div>
        </p-tabPanel>
       
        <p-tabPanel header="Colaborar" *ngIf="!userExistProject">
          <app-support-collaborate (eventEmitterSupportJoinProject)="joinAProject($event)"></app-support-collaborate>
        </p-tabPanel>
        <p-tabPanel header="Integrantes">
          <div *ngIf="!advancement">
            <div class="row">
              <div class="col">
                <h4>Lider</h4>
              </div>
            </div>
            <hr />
            <div class="row" *ngIf="searchProject.leader;else notLider">
              <div class="col">
                <app-project-member (eventEmitterUserProgress)="seeProgressMember($event)"
                  [user]="searchProject.leader" [githubRepo]="searchProject.urlRepository"></app-project-member>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <ng-template #notLider>
                  <p-messages [value]="[{ severity: 'info', detail: 'Este proyecto no tiene lider actualmente' }]"
                    [enableService]="false" [closable]="false"></p-messages>
                </ng-template>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <h4 class="mt-4">Integrantes
                </h4>
              </div>
            </div>
            <hr />
            <div class="row" *ngIf="searchProject.participants.length > 0;else notParticipants">
              <div class="col">
                <app-project-member (eventEmitterUserProgress)="seeProgressMember($event)"
                  *ngFor="let member of searchProject.participants" [user]="member" [githubRepo]="searchProject.urlRepository"></app-project-member>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <ng-template #notParticipants>
                  <p-messages
                    [value]="[{ severity: 'info', detail: 'Este proyecto no tiene participantes actualmente' }]"
                    [enableService]="false" [closable]="false"></p-messages>
                </ng-template>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <h4 class="mt-4">Soportes</h4>
              </div>
            </div>
            <hr />
            <div class="row" *ngIf="searchProject.supports.length > 0;else notSupports">
              <div class="col">
                <app-project-member (eventEmitterUserProgress)="seeProgressMember($event)"
                  *ngFor="let memberSupport of searchProject.supports" [user]="memberSupport" [githubRepo]="searchProject.urlRepository"></app-project-member>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <ng-template #notSupports>
                  <p-messages [value]="[{ severity: 'info', detail: 'Este proyecto no tiene soportes actualmente' }]"
                    [enableService]="false" [closable]="false"></p-messages>
                </ng-template>
              </div>
            </div>
          </div>
          <div *ngIf="advancement">
            <div class="row">
              <div class="col-6">
                <h4>Integrantes</h4>
              </div>
              <div class="col-6 text-end">
                <p-button (click)="backMembersProject()" type="button" [style]="{ width: '100%' }" label="Volver"
                  class="text-end" styleClass="p-button-help"></p-button>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <app-advancement-members *ngIf="commitActivity" [members]="commitActivity"></app-advancement-members>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Métricas" *ngIf="searchProject.urlRepository">
          <div class="card text-center" *ngIf="spinnerMetric">
            <span>
              <p-progressSpinner></p-progressSpinner>
            </span>
            <br>
            <span class="text-center">Cargando...</span>
          </div>
          <div class="row" *ngIf="!spinnerMetric">
            <div class="col-12">
              <h5 class="mx-3">Commits del proyecto:</h5>
              <app-chart-bar *ngIf="data" [data]="data"></app-chart-bar>
            </div>
          </div>
          <div class="row" *ngIf="!spinnerMetric">
            <div class="col-12">
              <app-char-radar *ngIf="dataRadar" [data]="dataRadar"></app-char-radar>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Solicitudes" *ngIf="searchProject.leader._id === currentUser?._id">
          <div class="row" *ngIf="searchProject.requests.length > 0;else notRequest">
            <div class="col">
              <app-request-member (eventEmitterUserRequest)="userRequestResponsesLeader($event)"
                *ngFor="let member of searchProject.requests" [user]="member"></app-request-member>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ng-template #notRequest>
                <p-messages [value]="[{ severity: 'info', detail: 'No hay solicitudes pendientes' }]"
                  [enableService]="false" [closable]="false"></p-messages>
              </ng-template>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Post">
          <div *ngIf="searchProject.posts.length > 0;else notFoundPost">
            <app-card-post [post]="post" *ngFor="let post of searchProject.posts"></app-card-post>
          </div>

          <ng-template #notFoundPost class="col-12">
            <div class="col-12">
              <p-messages [value]="[{ severity: 'info', detail: 'No se encontraron post' }]" [enableService]="false"
                [closable]="false"></p-messages>
            </div>
          </ng-template>
        </p-tabPanel>
        <div class="row mt-3">
          <div class="col-12 btnInd">
            <p-button class=" mb-3 me-2 mb-sm-3 me-sm-2 me-md-2" *ngIf="currentUser" type="button" styleClass="p-button-outlined p-button-help"
              label="Sugerir Proyecto" [style]="{ heigth: '30px !important' }"
              (click)="invitationProjectPopUp()"></p-button>
            <p-button class=" me-sm-2 me-md-2" (click)="joinAProject()" *ngIf="searchProject.validateSystem && !userExistProject" type="button" [style]="{ width: '100%' }"
              label="Unirse al Proyecto"  styleClass="p-button-help"></p-button>
            <p-button class=" me-sm-2 me-md-2" type="button" styleClass="p-button-help" label="Finalizar Proyecto"
              *ngIf="
                currentUser &&
                searchProject?.leader?._id === currentUser._id &&
                searchProject.status != 'Done'
              " [style]="{ heigth: '30px !important' }" (click)="showFinishProjectPopUp()"></p-button>
              <p-button class="me-sm-2 me-md-2" (click)="
              leaveProjectConfirm()" type="button" styleClass="p-button-help"
                label="Abandonar proyecto" *ngIf="this.searchProject.leader._id != currentUser?._id && userExistProject"
                [style]="{ heigth: '30px !important' }"></p-button>
                <p-button class="btnInd me-sm-2 me-md-2" (click)="
                cancelRequestToJoinTheProject()" type="button" styleClass="p-button-outlined p-button-help"
                  label="Cancelar solicitud" *ngIf="!searchProject.validateSystem && userExistSendRequest && !userExistProject"
                  [style]="{ heigth: '30px !important' }"></p-button>
                  <p-button class="btnInd  me-sm-2 me-md-2" (click)="
                  sendRequestToJoinTheProject()" type="button" styleClass="p-button-outlined p-button-help"
                    label="Enviar solicitud" *ngIf="!searchProject.validateSystem && !userExistSendRequest && !userExistProject && currentUser"
                    [style]="{ heigth: '30px !important' }"></p-button>
          </div>
        </div>
      </p-tabView>
    </div>
  </div>
</div>