<nav class="nav-background navbar navbar-expand-lg bg-light shadow-sm">
  <div class="container-fluid w-75">
      <a class="navbar-brand" routerLink="/home"><img src="assets/img/Logo_final.jpg" alt="Logo" width="40"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
              <li
                *ngFor="let item of menu"
                [pTooltip]="item.tooltip"
                [showDelay]="item.tooltipOptions.showDelay"
                [autoHide]="item.tooltipOptions.autoHide"
                [tooltipEvent]="item.tooltipOptions.tooltipEvent"
                [tooltipPosition]="item.tooltipOptions.tooltipPosition"
                class="d-flex justify-content-center alig-content-center"
              >
                <a
                  [class]="item.class"
                  aria-current="page"
                  [routerLink]="item.url"
                  [routerLinkActive]="item.urlActiveClass"
                >
                  <i [class]="item.icon"></i>
                  {{ item.name }}
                </a>
                <div class="notificationMenu">
                  <!-- <p-badge
                    *ngIf="item.badge"
                    [value]="item.badge"
                    severity="danger"
                  ></p-badge> -->
                </div>
              </li>
            </ul>
        
          <div class="w-30">
              <p-button  class="btnLogin d-inline-lg d-block-sm me-2" *ngIf="!currentUser" type="submit" label="Ingresar" styleClass="p-button-help"
                  routerLink="/auth/login" ></p-button>
              <p-button class="btnLogin d-inline-lg d-block-sm  me-2" *ngIf="!currentUser" type="submit" label="Registrarse" styleClass="p-button-outlined p-button-help"
                  routerLink="/auth/register" ></p-button>
              <p-button class="btnLogin me-2" *ngIf="currentUser" type="submit" label="Perfil" styleClass="p-button-outlined p-button-help"
                  routerLink="/user/see-my-profile/{{currentUser._id}}"></p-button>
              <p-button class="btnLogin me-2" *ngIf="currentUser"  type="submit" label="Cerrar sesión" styleClass="p-button p-button-help"
                   (click)="signOut()"></p-button>
          </div>
      </div>
  </div>
</nav>

<div class="">
  <app-main></app-main>
</div>

<app-footer></app-footer>