<h2 class=" text-center my-4">Sugerencias para vos!</h2>
<p-carousel
  [value]="suggestions"
  [numVisible]="3"
  [numScroll]="3"
  [circular]="true"
  [responsiveOptions]="responsiveOptions"
  [autoplayInterval]="5000"
>
  <ng-template let-suggestion pTemplate="item">
    <div class="m-2 text-center py-3 px-3 d-flex justify-content-center">
      <div class="w-75 item-suggestion">
        <h4 class="mb-1">{{ suggestion.name }}</h4>
        <p class="mt-1 mb-3">*{{ suggestion.typeofProject }}</p>
        <!-- boton necesita ayuda<p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag> -->
        <p class="mt-0 mb-3"> *{{ suggestion.languajes }}</p>
        <p class="mt-0 mb-3"> *{{ suggestion.complexity }}</p>

        <div class="class row">
          <div class="car-buttons mt-2">
            <p-button
              type="button"
              [style]="{ width: '100%' }"
              label="Ver detalle"
              class=""
              styleClass="p-button-outlined p-button-help"
              routerLink="/project/detail-project"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
