<div class="card text-center" *ngIf="spinner">
  <span>
    <p-progressSpinner></p-progressSpinner>
  </span>
  <br>
  <span class="text-center">Cargando...</span>
</div>
<div class="postBackground d-flex flex-column standingOut shadow-sm p-3 mb-2" *ngIf="!spinner">
  <div class="container card p-3 mb-2">
    <div class="">
      <!-- seccion titulo mas boton -->
      <div class="row m-0" id="">
        <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4"></div>
        <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8">
          <h3 id="" class="d-inline">Posteos</h3>
          <p-button *ngIf="currentUser" type="button" [style]="{ width: '100%' }" label="Crear post" class="float-end"
            id="" styleClass="p-button-help" routerLink="/post/create"></p-button>
        </div>
      </div>
      <!----------------- COMPONENTE FILTRO-------------------->
      <div class="row p-0 m-0">
        <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4">
          <div id="filtro">
            <div class="row">
              <div class="col-5 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-sm-4 p-0">
                <h3 class="">Filtros</h3>
              </div>
            </div>
            <app-filters [filters]="filters"></app-filters>
            <p-button type="button" [style]="{ width: '100%' }" label="Filtrar"
              class="float-center pt-3 mt-sm-3 mt-md-3 d-block" styleClass="p-button-help" icon="pi pi-search"
              (click)="getFilters()"></p-button>
          </div>
        </div>

        <!-- <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-sm-4 m-0 p-0">
          <div class="" id="filtro">
            <h3 class="">Filtros</h3>
            <app-filters [filters]="filters"></app-filters>
            <p-button type="button" [style]="{ width: '100%' }" label="Filtrar" class="float-center mt-3 d-block"
              styleClass="p-button-help" icon="pi pi-search" (click)="getFilters()"></p-button>
          </div>
        </div> -->
        <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8">
          <!-- componente de card -->
          <div *ngIf="listPost.length > 0;else notFoundPost">
            <app-card-post *ngFor="let post of listPost" [post]="post"></app-card-post>
            <!-- paginador  -->

            <p-paginator [totalRecords]="totalRecords" [rows]="size"
              (onPageChange)="paginatePosts($event)"></p-paginator>
          </div>
          <ng-template #notFoundPost>
            <p-messages [value]="[{ severity: 'info', detail: 'No se encontraron post' }]" [enableService]="false"
              [closable]="false"></p-messages>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->