<div class="card text-center" *ngIf="spinner">
  <span>
    <p-progressSpinner></p-progressSpinner>
  </span>
  <br>
  <span class="text-center">Cargando...</span>
</div>
<div class="postBackground" *ngIf="!spinner">
  <div class="container card p-3 mb-2 shadow-sm">
    <div class="row justify-content-around">

      <div class="w-100 d-flex">
        <div class="col-sm-9 col-md-9 col-lg-9">
          <h3 class=" titlePosts p-0">{{ title }}</h3>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-3">
          <p-button
          *ngIf="currentUser"
          type="button"
          [style]="{ width: '100%' }"
          label="Crear nuevo post"
          class="float-end"
          styleClass=" p-button-help"
          routerLink="/post/create"
        ></p-button>
        </div>
      </div>
     
      <!----------------- COMPONENTE FILTRO-------------------->
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4 ">
            <div class="" id="filtro">
              <h2>Filtros</h2>
              <app-filters [filters]="filters" ></app-filters>
              <p-button
                type="button"
                [style]="{ width: '100%' }"
                label="Filtrar"
                class="float-center mt-3 d-block"
                styleClass="p-button-help"
                icon="pi pi-search"
                (click)="getFilters()"
              ></p-button>
            </div>
          </div>
          <div class="col-sm-12 col-md-8 col-lg-8">
            <!-- componente de card -->
            <app-card-post
              *ngFor="let post of listPost"
              [post]="post"
            ></app-card-post>
            <!--componente de card  -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
