<div class="d-flex flex-column align-items-center">

  <div class="banner d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center fw-bold t1 text-white">MEETING</h1>
    <p class="fw-bold text-center text-white">Un lugar en donde tus ideas se vuelven proyectos,<br> y tus conocimientos no paran de crecer</p>
    <p-button class="" type="submit" label="Sumate ahora!" styleClass= "p-button p-button-help"></p-button>
  </div>

  <div class="d-flex justify-content-center">
    <div class="steps d-flex justify-content-around w-75" style="min-height: 700px; border-bottom: 1px solid rgb(168, 168, 168);">
      <div class="step d-flex flex-column">
        <div class="image d-flex justify-content-center align-items-center">
          <img src="../../../../assets/img_1.svg" alt="Listado Proyectos">
        </div>
        <div class="description">
          <h3 class="text-center">Busca nuevos desafios</h3>
          <p class="text-center fst-italic">Encontrá y sumate al proyecto que se adapte a lo que estas buscando. Gana experiencia en tu area o salta a una nueva aventura en un lenguaje nuevo.</p>
        </div>
      </div>
      <div class="step d-flex flex-column">
        <div class="image d-flex justify-content-center align-items-center">
          <img src="../../../../assets/img_2.svg" alt="Reunion Equipo">
        </div>
        <div class="description">
          <h3 class="text-center">Aprende en equipo</h3>
          <p class="text-center fst-italic">Suma experiencia en proyectos grandes con equipos de trabajo reales, con metodologias agiles y las mejores practicas del mundo del desarrollo.</p>
        </div>
      </div>
      <div class="step d-flex flex-column">
        <div class="image d-flex justify-content-center align-items-center">
          <img src="../../../../assets/img_3.svg" alt="Metricas">
        </div>
        <div class="description">
          <h3 class="text-center">Conocé tu progreso</h3>
          <p class="text-center fst-italic">Tene acceso a metricas de tu rendimiento y a un sistema de ranking para destacar tu perfil en el mercado!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center w-75" style="min-height: 650px; border-bottom: 1px solid rgb(168, 168, 168);">
    <div class="w-50 d-flex justify-content-center">
      <img src="../../../../assets/img_4.svg" alt="Scrum" width="90%">
    </div>

    <div class="w-50 d-flex flex-column align-items-center">
      <h3 class="text-center fw-bold">Trabajamos con Metodologias Agiles</h3>
      <div class=" w-75 d-flex flex-column justify-content-center mt-3">
        <p class="text-center fst-italic">Aprendemos a trabajar en equipo y con las mejores practicas del mundo del desarrollo.</p>
        <p class="text-center fst-italic">Ceremonias Scrum - Daillys, Review y Retros</p>
        <p class="text-center fst-italic">Sistema de desarrollo basado en el concepto de MVP's </p>
        <p class="text-center fst-italic">Puntuacion y analisis de desempeño por Sprint </p>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center w-75" style="min-height: 650px;">
    <div class="w-50 d-flex flex-column align-items-center">
      <h3 class="text-center fw-bold">Conectamos profesionales de Todo el Mundo</h3>
      <div class=" w-75 d-flex flex-column justify-content-center mt-3">
        <p class="text-center fst-italic">Nuestro sistema de proyectos te va a permitir trabajar con personas en cualquier parte del planeta</p>
        <p class="text-center fst-italic">Trabaja con equipos bilingues </p>
        <p class="text-center fst-italic">Aprende lo mejor de cada pais</p>
        <p class="text-center fst-italic">Perfecciona tus idiomas</p>
      </div>
    </div>

    <div class="w-50 d-flex justify-content-center">
      <img src="../../../../assets/img_5.svg" alt="Scrum" width="90%">
    </div>
  </div>

  <!--
  <app-table-user [spinner]="spinner" [users]="users" (eventDeleteUser)="deleteUser($event)"></app-table-user> -->
</div>
