<div class="card my-4">
  <div class="row m-0 p-2 card-header">
    <div class="col-6">
      <h5 class=""> {{project.name}} </h5>
    </div>
    <div class="col-6 text-end">
      <span class="text-end" *ngIf="project?.roleUser ==='leader'">
        <i class="fa-solid fa-crown h4"></i> </span>
      <span class="text-end" *ngIf="project?.roleUser ==='participant'">
         <i class="fa-solid fa-user h4"></i></span>
      <span class="text-end" *ngIf="project?.roleUser ==='support'">
        <i class="fa-solid fa-screwdriver-wrench h4"></i>
      </span>
    </div>
  </div>
  <div class="card-body">
    <!-- seccion datos del proyecto -->
    <blockquote class="blockquote mb-0">
      <p>
        {{project.description}}
      </p>
    </blockquote>
    <div id="infoProject" class=" p-md-2 mt-md-4 p-lg-2 mt-lg-4">
      <footer class="blockquote-footer">
        <b>Tipo de proyecto: </b><cite title="Source Title">{{project.type}}</cite>
      </footer>
      <footer class="blockquote-footer">
        <b>Tecnologías: </b>
        <cite *ngFor="let technologie of project.technologies; let l = last" title="Source Title"> {{technologie}}
          -</cite>
      </footer>
      <footer class="blockquote-footer">
        <b>Complejidad: </b><cite title="Source Title">{{project.complexity}}</cite>
      </footer>
    </div>

    <!-- seccion datos del proyecto -->
    <div class="row text-end">
      <div class="col-12">
        <p-button type="button" [style]="{'width' : '100%'}" label="Brindar apoyo" *ngIf="project.requestSupport"
          styleClass="p-button-outlined p-button-help" class="mr-5"><i class="m-1 pi pi-heart"></i></p-button>
        <!--        agregar *ngIf="support"-->
        <p-button type="button" [style]="{'width' : '100%'}" label="Ver detalle"
          styleClass="p-button-outlined p-button-help" class="m-1"
          routerLink="/project/details-project/{{project._id}}"></p-button>
      </div>
    </div>
  </div>
</div>