.card-header{
  background-color: #f1bcd173 !important;
  border-bottom: 0 !important;
}

.card{
  border: 1px solid #f1bcd173 !important;
}
#infoProject {
  display: flex;
  justify-content: space-between;
 
}
@media (max-width: 991.98px) {
  #infoProject {
    margin-top: 30px;
    display: block;
  }
}
