<div class=" pt-5 pb-5 container-fluid loginBackground">
    <form (ngSubmit)="login()" [formGroup]="form" class="">
        <p-card class="contenido shadow-sm">
            <ng-template pTemplate="header">
                <h2 class="text-dark text-center mt-3">Iniciar Sesión</h2>
                <p class="text-center fst-italic">Mantente al día de los avances de tus proyectos</p>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="row mt-3">
                    <div class="offset-1 col-10">
                        <input appenTo="body" [style]="{width : '100%'}" pInputText type="text" formControlName="email"
                            placeholder="Email" class="borderInput" id="email">
                        <span class="text-danger"
                            *ngIf="form.get('email').hasError('required') && form.get('email').touched">
                            Este campo es obligatorio
                        </span>
                        <span class="text-danger"
                            *ngIf="form.get('email').hasError('email') && form.get('email').touched">
                            El formato de email debe ser uno válido
                        </span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="offset-1 col-10">
                        <input appenTo="body" [style]="{'width' : '100%'}" pInputText type="password" formControlName="pass"
                            placeholder="Contraseña" class="borderInput" id="password">
                        <span class="text-danger"
                            *ngIf="form.get('pass').hasError('required') && form.get('pass').touched">
                            Este campo es obligatorio
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="row">
                    <div class="offset-1 col-10">
                        <p-button type="submit" class="d-block" id="submit" [disabled]="form.invalid" [style]="{'width' : '100%'}"
                            label="Ingresar" styleClass="p-button-help"></p-button>
                    </div>
                    <div class="offset-1 col-10 mt-3">
                        <p class="text-dark text-center link">¿No tienes una cuenta?
                            <a routerLink="/auth/register">Registrate</a>
                        </p>
                    </div>
                </div>
            </ng-template>
        </p-card>
    </form>
</div>

