<div class="card mt-4 mt-sm-4 cardPost p-3" *ngIf="post">
  <div class="row d-lg-none">
    <div class="col-8">
      <p-chip
        label="{{ post.author?.name? post.author?.name :'Jonatan' }} ({{ post.author?.level? post.author?.level :'Junior' }})"
        [image]="post.author?.urlImage || 'assets/img/no-user.jpg'"></p-chip>
    </div>
    <div class="col-4 text-end">
      <p-button type="button" icon="pi pi-thumbs-up-fill" styleClass="p-button-rounded p-button-outlined mx-2"
      class="btnPostRounded"></p-button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-none d-lg-block">
      <p-chip
        label="{{ post.author?.name? post.author?.name :'Jonatan' }} ({{ post.author?.level? post.author?.level :'Junior' }})"
        [image]="post.author?.urlImage || 'assets/img/no-user.jpg'"></p-chip>
    </div>
    <div class="col-12">
      <small>Posteo {{ post.date | date:'short'}}hs</small>
    </div>
    <div class="col-12">
      <h4 class="titulo">
        {{ post.title }}
      </h4>
    </div>
    <div class="col-12" *ngIf="post.experience">
      <footer *ngIf="post.experience.length > 0" class="blockquote-footer mt-3"><b>Tecnologías:</b>
        <cite *ngFor="let technologie of post.experience; let l = last" title="Source Title">
          <img pTooltip="{{technologie.nameTechnologie}} - {{technologie.experience}}" class="mx-2 img-technologie" width="25px" height="25px" [src]="'assets/img/technologies/' + getIcon(technologie.nameTechnologie)" [alt]="technologie.nameTechnologie">
        </cite> 
      </footer>
    </div>
    <div class="col-12 text-lg-end">
          <p-button type="button" icon="pi pi-thumbs-up-fill" styleClass="p-button-rounded p-button-outlined mx-2"
          class="btnPostRounded d-none d-lg-inline"></p-button>
          <div class="d-grid d-lg-inline gap-2">
          <p-button type="button" [style]="{ width: '100%' }" label="Ver post" class="py-2 btn-block" styleClass="p-button-help"
          routerLink="/post/details-post/{{ post._id }}"></p-button>
        </div>
    </div>
  </div>
</div>