.postBackground {
  min-height: 500px;
  background-color: rgb(241, 241, 241);
  padding: 80px 0px;
}
.cardPost {
  border: 1px solid #ad2c73 !important;
}

@media (max-width: 395px) {
  .btnPost {
    text-align: center !important;
  }

  .btnPostRounded{
    text-align: start !important;
  }
}
/* hasta 767 sea mayor a 767px */
@media (min-width: 767px) {
  .btnPost {
    text-align: end;
  }
}

@media (max-width: 767px) {
  .btnPost {
    text-align: center;
  }
}
