<div class="card text-center" *ngIf="spinner">
  <span>
    <p-progressSpinner></p-progressSpinner>
  </span>
  <br>
  <span class="text-center">Cargando...</span>
</div>
<div class="postBackground" *ngIf="!spinner">
  <div class="container">
    <!-- Boton de regresar -->
    <span class="fst-italic text-secondary small">
      <i class="m-1 pi pi-arrow-circle-left"></i>
      <a class="text-secondary" routerLink="/post/list-post"
        >Volver</a
      >
      |
      <p class="d-inline fst-italic text-secondary">Crear post</p></span
    >
    <!--fin  Boton de regresar -->
    <div class="container card p-3 shadow-sm">
      <div class="text-center">
        <h2 class="text-dark">Crear Post</h2>
      </div>
      <app-form-post [user]="user" *ngIf="user._id" (emitPost)="createPost($event)"></app-form-post>
    </div>
  </div>
</div>
