.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #c42e6c !important;
}

.item-suggestion{
  border-radius: 5px;
  transition: all 1s ease-in-out;
  border: 2px solid #f1bcd173 !important;
}

.item-suggestion:hover{
  border-color: #c42e6c !important;
}

.title-suggestion{
  height: 70px;
  border-radius: 3px 3px 0 0;
  font-size: 1.5rem;
  font-weight: 500;
  background: url("src/assets/img/Banner5.png");
  background-position: 50% 90% !important;
  background-size: cover;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px #000;
}

