<div class="d-flex flex-column align-items-center">
  <div
    class="banner d-flex flex-column justify-content-center align-items-center"
  >
    <h1 class="text-center fw-bold t1 text-white">MEETING</h1>
    <p class="fw-bold text-center text-white">
      Un lugar donde se encuentran las ideas<br />y tus conocimientos no paran
      de crecer
    </p>
    <p-button
      class=""
      type="button"
      label="Sumate ahora!"
      styleClass="p-button p-button-help"
      routerLink="/project/list-project"
    ></p-button>
  </div>


  <!-- rearmar aqui -->
  <div class="container d-flex mt-4 mt-lg-5" style="min-height: 450px">
    <div class="row align-items-center">
      <!-- primer columna -->
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-5">
        <img src="assets/img/img_1.svg" alt="Scrum" width="90%" />


        <div class="description">
          <h3 class="text-center mt-4">Busca nuevos desafíos</h3>
          <p class="text-center fst-italic">
            Encuentra y únete al proyecto que se adapte a lo que estás
            buscando.Gana experiencia en tu área o inicia una increible aventura
            en un lenguaje nuevo.
          </p>
        </div>
      </div>
      <!-- primer columna -->
      <!-- segunda columna -->
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
        <img src="assets/img/img_2.svg" alt="Scrum" width="90%" />
        <div class="description">
          <h3 class="text-center mt-4">Aprende en equipo</h3>
          <p class="text-center fst-italic">
            Adquiere experiencia en proyectos grandes con equipos de trabajo
            reales, con metodologías ágiles y las mejores prácticas del mundo
            del desarrollo.
          </p>
        </div>
      </div>
      <!-- segunda columna -->
      <!-- tercer columna -->


      <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
        <img src="assets/img/img_3.svg" alt="Scrum" width="90%" />
        <div class="description">
          <h3 class="text-center mt-4">Conocé tu progreso</h3>
          <p class="text-center fst-italic">
            Accede a métricas de tu rendimiento y a un sistema de ranking para
            destacar tu perfil en el mercado!
          </p>
        </div>
      </div>
      <!-- tercer columna -->
    </div>
  </div>
      <!-- <div class="d-flex w-75 mt-lg-5" style="min-height: 450px">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4 ">
        <img src="assets/img/img_5.svg" alt="Scrum" width="90%" />
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-3">
        <h3 class="text-center fw-bold">
          Conectamos profesionales de todo el mundo
        </h3>
          <p class="text-center fst-italic mt-2">
            Nuestro sistema de proyectos te permitirá trabajar con personas en
            cualquier parte del planeta
          </p>
          <p class="text-center fst-italic">Trabaja con equipos bilingües</p>
          <p class="text-center fst-italic">Aprende lo mejor de cada país</p>
          <p class="text-center fst-italic">Perfecciona tus idiomas</p>
      </div>
    </div>
  </div> -->


      <!-- fin rearmar aqui -->


      <!-- < <div class="d-flex justify-content-center">
    <div
      class="steps d-flex justify-content-around w-75"
      style="min-height: 700px; border-bottom: 1px solid rgb(168, 168, 168)"
    >
      <div class="step d-flex flex-column">
        <div class="image d-flex justify-content-center align-items-center">
          <img src="assets/img/img_1.svg" alt="Listado Proyectos" />
        </div>
        <div class="description">
          <h3 class="text-center">Busca nuevos desafíos</h3>
          <p class="text-center fst-italic">
            Encuentra y únete al proyecto que se adapte a lo que estás
            buscando.Gana experiencia en tu área o inicia una increible aventura
            en un lenguaje nuevo.
          </p>
        </div>
      </div>
      <div class="step d-flex flex-column">
        <div class="image d-flex justify-content-center align-items-center">
          <img src="assets/img/img_2.svg" alt="Reunion Equipo" />
        </div>
        <div class="description">
          <h3 class="text-center">Aprende en equipo</h3>
          <p class="text-center fst-italic">
            Adquiere experiencia en proyectos grandes con equipos de trabajo
            reales, con metodologías ágiles y las mejores prácticas del mundo
            del desarrollo.
          </p>
        </div>
      </div>
      <div class="step d-flex flex-column">
        <div class="image d-flex justify-content-center align-items-center">
          <img src="assets/img/img_3.svg" alt="Metricas" />
        </div>
        <div class="description">
          <h3 class="text-center">Conocé tu progreso</h3>
          <p class="text-center fst-italic">
            Accede a métricas de tu rendimiento y a un sistema de ranking para
            destacar tu perfil en el mercado!
          </p>
        </div>
      </div>
    </div>
  </div>  -->


      <!-- <div class="d-flex align-items-center w-75" style="min-height: 650px; ">
    <div class="w-50 d-flex justify-content-center">
      <img src="assets/img/img_4.svg" alt="Scrum" width="90%">
    </div>


    <div class="w-50 d-flex flex-column align-items-center">
      <h3 class="text-center fw-bold">Trabajamos con Metodologías Ágiles</h3>
      <div class=" w-75 d-flex flex-column justify-content-center mt-3">
        <p class="text-center fst-italic">Aprendemos a trabajar en equipo y con las mejores prácticas del mundo del desarrollo.</p>
        <p class="text-center fst-italic">Ceremonias Scrum - Daillys, Review y Retros</p>
        <p class="text-center fst-italic">Sistema de desarrollo basado en el concepto de MVP's </p>
        <p class="text-center fst-italic">Puntuación  y análisis  de desempeño por Sprint </p>
      </div>
    </div>
  </div>-->
      <div class="container d-flex" style="min-height: 450px">
        <div class="row align-items-center">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <img src="assets/img/img_4.svg" alt="Scrum" width="90%" />
          </div>


          <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-3">
            <h3 class="text-center fw-bold mb-3 mb-md-3 mb-lg-3">
              Trabajamos con Metodologías Ágiles
            </h3>
            <p class="text-center fst-italic">
              Aprendemos a trabajar en equipo y con las mejores prácticas del
              mundo del desarrollo.
            </p>
            <p class="text-center fst-italic">
              Ceremonias Scrum - Daillys, Review y Retros
            </p>
            <p class="text-center fst-italic">
              Sistema de desarrollo basado en el concepto de MVP's
            </p>
            <p class="text-center fst-italic mb-4">
              Puntuación y análisis de desempeño por Sprint
            </p>
          </div>
        </div>
      </div>


      <div
        class="container-fluid"
        style="min-height: 450px; background-color: rgb(236, 236, 236)"
      >
        <div class="my-5">
          <h2 class="text-center">Nuestro Equipo</h2>
        </div>
        <div class="row d-flex justify-content-between">
          <div class="col-12 col-lg-2 text-center">
            <img
              src="assets/img/profile.jfif"
              alt="Participante Ezequiel"
              class="integrants mb-2"
            />
            <h4>Ezequiel Sanson</h4>
            <p>Back-end Developer</p>
          </div>
          <div class="col-12 col-lg-2 text-center">
            <img
              src="assets/img/nahuel.jpeg"
              alt="Participante Nahuel"
              class="integrants mb-2"
            />
            <h4>Nahuel Savedra</h4>
            <p>Back-end Developer</p>
          </div>
          <div class="col-12 col-lg-2 text-center">
            <img
              src="assets/img/joel.jpeg"
              alt="Participante Joel"
              class="integrants mb-2"
            />
            <h4>Joel Escobar Lasalas</h4>
            <p>Front-end Developer</p>
          </div>
          <div class="col-12 col-lg-2 text-center">
            <img
              src="assets/img/jessica.jpeg"
              alt="Participante Jessica"
              class="integrants mb-2"
            />
            <h4>Jessica Delgado</h4>
            <p>Front-end Developer</p>
          </div>
          <div class="col-12 col-lg-2 text-center">
            <img
              src="assets/img/diego.jpeg"
              alt="Participante Diego"
              class="integrants mb-2"
            />
            <h4>Diego Arredondo</h4>
            <p>Front-end Developer</p>
          </div>
        </div>
      </div>
      <!-- <div class="d-flex justify-content-center w-100" style="min-height: 600px; background-color: rgb(236, 236, 236);">
    <div class="w-75 d-flex flex-column">
      <div class="my-5">
        <h2 class="text-center">Nuestro Equipo</h2>
      </div>
      <div class="d-flex w-100 justify-content-around">
        <div class=" d-flex flex-column justify-content-center align-items-center">
          <img src="assets/img/profile.jfif" alt="Participante Ezequiel" class="integrants mb-2">
          <h4>Ezequiel Sanson</h4>
          <p>Back-end Developer</p>
        </div>
        <div class=" d-flex flex-column justify-content-center align-items-center">
          <img src="assets/img/nahuel.jpeg" alt="Participante Nahuel" class="integrants mb-2">
          <h4>Nahuel Savedra</h4>
          <p>Back-end Developer</p>
        </div>
        <div class=" d-flex flex-column justify-content-center align-items-center">
          <img src="assets/img/joel.jpeg" alt="Participante Joel" class="integrants mb-2">
          <h4>Joel Escobar Lasalas</h4>
          <p>Front-end Developer</p>
        </div>
        <div class=" d-flex flex-column justify-content-center align-items-center">
          <img src="assets/img/jessica.jpeg" alt="Participante Jessica" class="integrants mb-2">
          <h4>Jessica Delgado</h4>
          <p>Front-end Developer</p>
        </div>
        <div class=" d-flex flex-column justify-content-center align-items-center">
          <img src="assets/img/diego.jpeg" alt="Participante Diego" class="integrants mb-2">
          <h4>Diego Arredondo</h4>
          <p>Front-end Developer</p>
        </div>
      </div>
    </div>
  </div> -->
      <div class="container d-flex" style="min-height: 450px">
        <div class="row align-items-center">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-3">
            <h3 class="text-center fw-bold mb-3 mb-md-3 mb-lg-3">
              Conectamos profesionales de todo el mundo
            </h3>
            <p class="text-center fst-italic mt-2">
              Nuestro sistema de proyectos te permitirá trabajar con personas en
              cualquier parte del planeta
            </p>
            <p class="text-center fst-italic">Trabaja con equipos bilingües</p>
            <p class="text-center fst-italic">Aprende lo mejor de cada país</p>
            <p class="text-center fst-italic">Perfecciona tus idiomas</p>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-5">
            <img src="assets/img/img_5.svg" alt="Scrum" width="90%" />
          </div>
        </div>
      </div>
    </div>
 
