.banner{
  min-height: 550px;
  width: 100%;
  background-image: url('src/assets/img/img_6.png');
  background-size: cover;
}

.t1{
  font-size: 80px;
}

.steps{
  min-height: 500px;
}


/* .step{
  width: 30%;
} */

.image{
  height: 60%;
}

.image img{
  width: 90%;
}

.description{
  height: 40%;
}

.integrants{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid rgb(71, 71, 71);
}
