<div class="signupFrm">
  <!-- <form (submit)="searchUsers()"> -->
  <form class="form">  
    <h1>Buscar usuarios</h1>
          <div class="inputContainer">
    <!-- <form (submit)="searchUsers()"> -->
      <!-- <input type="text" name="query" placeholder="Buscar usuarios"> -->
             <input type="text" name="query" pInputText formControlName="text" placeholder="Buscar usuarios"/>
             <p-button label="Buscar" styleClass="p-button-help"></p-button>
      <!-- <button type="submit">Buscar</button> -->
          </div>    
   </form>
    
    <ul>
      <li *ngFor="let user of results">
        {{ user.username }} - {{ user.email }}
      </li>
    </ul>
</div>
