.user-info {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.user-avatar {
  margin-right: 10px;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.commits-info {
  margin-top: 10px;
}

.commits-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.commits-info li {
  margin-bottom: 5px;
  font-size: 14px;
  color: #666;
  border-left: 3px solid #c42e6c;
  padding-left: 10px;
}

.commits-info li a {
  text-decoration: none;
  color: #666;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  margin-bottom: 10px;
}

.task-list label {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
}

.task-list input[type="checkbox"] {
  margin-right: 10px;
}

.p-tabview-nav-container{
  margin-bottom: 15px !important;
  padding-bottom: 15px !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: #DB27CC !important;
  color: #DB27CC !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: inset 0 0 0 0.2rem #f792ee;
}

.p-button-help-2{
  background-color: #DB27CC !important;
  border: 1px solid #DB27CC !important;
}

.p-button-outlined-2{
  border: 2px solid #DB27CC;
  background-color: white;
  color: #DB27CC;
}
.p-button-outlined-2:hover{
  border: 2px solid #DB27CC !important;
  background-color: #DB27CC !important;
  color: white !important;
}
