<div class="card text-center" *ngIf="spinner || spinnerSuggestion">
  <span>
    <p-progressSpinner></p-progressSpinner>
  </span>
  <br>
  <span class="text-center">Cargando...</span>
</div>

<div class="m-auto projects">
  <div class="container row standingOut shadow-sm" style="margin: 10px 0px;" *ngIf="!spinnerSuggestion && suggestionsProject.length > 0">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <app-suggestions-project *ngIf="suggestionsProject" [suggestions]="suggestionsProject"></app-suggestions-project>
    </div>
  </div>
  <div class="container p-3 mb-2 d-flex flex-column standingOut shadow-sm " *ngIf="!spinner">
    <div class="card mb-2">
      <!-- seccion titulo mas boton -->
      <div class="row d-flex mt-3">
        <div class="col-sm-6 col-md-9 col-lg-9">
          <h3 class="title mt-sm-4 m-0">Proyectos</h3>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3  mb-md-0 mb-4">
          <p-button type="button" [style]="{ width: '100%' }" label="Crear Proyecto" class=" pt-3 float-end"
            styleClass=" p-button-help" routerLink="/project/create" *ngIf="currentUser"></p-button>
        </div>
      </div>
      <!----------------- COMPONENTE FILTRO-------------------->
      <div class="container">
        <div class="row p-0">
          <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="" id="filtro">
              <div class="row">
                <div class="col-6">
                  <h2>Filtros</h2>
                </div>
                <div class="col-6">
                  <p-checkbox *ngIf="currentUser" label="Mis proyectos" [(ngModel)]="searchProjectCurrentUser"
                    [binary]="true" inputId="binary"></p-checkbox>
                </div>
              </div>
              <app-filters [filters]="filters"></app-filters>
              <p-button type="button" [style]="{ width: '100%' }" label="Filtrar"
                class="float-center pt-3 mt-sm-3 mt-md-3 d-block" styleClass="p-button-help" icon="pi pi-search"
                (click)="getFilters()"></p-button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-8 col-lg-8" *ngIf="listProject.length > 0;else noFound">
            <app-card-project *ngFor="let project of listProject" [project]="project"></app-card-project>
            <p-paginator [totalRecords]="totalRecords" [rows]="size"
              (onPageChange)="paginatePosts($event)"></p-paginator>
          </div>
          <ng-template #noFound class="col-12 col-sm-12 col-md-8 col-lg-8">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8">
            <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
            </div>
          </ng-template>
        </div>


      </div>
      <!----------------- COMPONENTE modal-------------------->
      <p-dialog *ngIf="recommendationsQuestionUser" [header]="recommendationsQuestionUser?.result?.question"
        [(visible)]="visiblePopUpQuestion" [position]="'right'" [transitionOptions]="'1000ms'">
        <app-recommendations-technologies-modal *ngIf="recommendationsQuestionUser.type === 'recommendation'"
          (eventEmitterHiddenPopUpQuestion)="hiddenPopUpQuestion($event)"
          (eventEmitterAnswer)="answerQuestion($event)"></app-recommendations-technologies-modal>
        <app-recommendations-post-modal [posts]="recommendationsQuestionUser.result.results"
          *ngIf="recommendationsQuestionUser.type === 'post'"></app-recommendations-post-modal>
        <app-recommendations-project-modal *ngIf="recommendationsQuestionUser.type === 'project'"
          [projects]="recommendationsQuestionUser.result.results"></app-recommendations-project-modal>
      </p-dialog>
      <!----------------- COMPONENTE modal-------------------->
    </div>
  </div>