.projects {
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#filtro {
  background-color: #f1bcd173;
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin-top: 22px;
  padding: 20px;
}

.img-technologie{
  filter: grayscale(100%);
}

.p-button-outlined-2 {
  padding: 0 !important;
  border: 2px solid #ff9ec5 !important;
  background-color: white !important;
  color: #ff9ec5 !important;
}
.p-button-outlined-2:hover {
  border: 2px solid #ff9ec5 !important;
  background-color: #ff9ec5 !important;
  color: white !important;
}

.standingOut {
  background-color: white;
  border-radius: 10px;
}

.p-dialog .p-dialog-header {
  background-color: #ced4da !important;
  padding: 1rem;
}
@media screen and (max-width: 480px) {
  /* #titProy{
    align-items: center;
    text-align: center; 
  } */
  p {
    font-size: 12px;
  }
  #titleP {
    text-align: start; 
    margin-left: 20px; 
 }
}

@media screen and (max-width: 767.98px) {
 
  #titleP {
    align-items: center;
    text-align: start;
  }
}

@media screen and (min-width: 767.98px) {
  
  #titProy{
    align-items: center;
    text-align: center; 
  }
  #titleP {
    align-items: center; 
    text-align: center;
    /* margin-left: 180px;   */
  }
}
