<div class="card my-4">
  <h5 class="card-header">Proyecto Menú fácil</h5>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>
        Crear una App para generar una respuesta aleatoria, basada en las
        comidas que el usuario generalmente ingiere, tanto de forma ocasional
        como en plan semanal para poder finalmente tener al alcance un menu sin
        pensarlo tanto...
      </p>
    </blockquote>
    <div class="d-flex justify-content-between p-2 mt-4">
      <footer class="blockquote-footer">
        Tipo de proyecto: <cite title="Source Title">Backend</cite>
      </footer>
      <footer class="blockquote-footer">
        Lenguajes: <cite title="Source Title">Node.js</cite>
      </footer>
      <footer class="blockquote-footer">
        Complejidad: <cite title="Source Title">Senior</cite>
      </footer>
    </div>
    <div class="text-end">
      <p-button  type="button"  [style]="{'width' : '100%'}"
      label="Ver detalle" styleClass="p-button-outlined p-button-help" routerLink="/project/details-project/1"></p-button>
     </div>
  </div>
</div>

<div class="card my-4">
  <h5 class="card-header">Proyecto Rico y Sano</h5>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>
        Crear una App para comidas saludables, basada en las comidas que el
        usuario generalmente ingiere, tanto de forma ocasional como en plan
        semanal para poder finalmente tener al alcance un menu sin pensarlo
        tanto...
      </p>
    </blockquote>
    <div class="d-flex justify-content-between p-2 mt-4">
      <footer class="blockquote-footer">
        Tipo de proyecto: <cite title="Source Title">Backend</cite>
      </footer>
      <footer class="blockquote-footer">
        Lenguajes: <cite title="Source Title">Node.js</cite>
      </footer>
      <footer class="blockquote-footer">
        Complejidad: <cite title="Source Title">Junior</cite>
      </footer>
    </div>
    <div class="text-end">
      <p-button  type="button"  [style]="{'width' : '100%'}"
      label="Ver detalle" styleClass="p-button-outlined p-button-help" routerLink="/project/details-project/1"></p-button>
    </div>
  </div>
</div>

<div class="card my-4">
  <h5 class="card-header">Proyecto Discord</h5>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi
        excepturi praesentium, architecto harum iure obcaecati reiciendis
        veniam, blanditiis nobis corporis minima porro adipisci dolorem quo in
        culpa atque facere id.
      </p>
    </blockquote>

    <div class="d-flex justify-content-around p-2 mt-4">
      <span class="blockquote-footer"
        >Tipo de proyecto: <cite title="Source Title">Backend</cite></span
      >
      <span class="blockquote-footer"
        >Lenguajes: <cite title="Source Title">Node.js</cite></span
      >
      <span class="blockquote-footer"
        >Complejidad: <cite title="Source Title">Senior</cite></span
      >
    </div>
    <div class="text-end">
      <p-button  type="button"  [style]="{'width' : '100%'}"
      label="Ver detalle" styleClass="p-button-outlined p-button-help" routerLink="/project/details-project/1"></p-button>
    </div>
  </div>
</div>
