.profile {
  min-height: 500px;
  background-color: rgb(241, 241, 241);
  padding: 40px 0px;
}

.banner-profile {
  background-image: url('../../../../../assets/img/Banner2.png') !important;
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
}

#profile {
  width: 13%;
  height: 180px;
  border-radius: 50%;
  border: 2px solid rgb(71, 71, 71);
}

.reviews {
  border: 1px solid #c42e6c;
  border-radius: 10px;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: #c42e6c !important;
  color: #c42e6c !important;
}
.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #c42e6c !important;
}
/* presionando el boton sombra */
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: inset 0 0 0 0.2rem #f1bcd173;
}

.img-technologie{
  filter: grayscale(100%);
}

canvas {
  min-height: 400px !important;
  max-height: 500px !important;
}

.profile .container span a {
  text-decoration: none;
}
.profile .container span a:hover {
  font-weight: 700;
}

.p-button-danger  {
  background-color:#fca326 !important;
  border: 1px solid #fca326 !important;
 }
.link a {
  color: #c42e6c !important;
}
.p-inputtext:enabled:hover {
  border-color: #c42e6c;
}

/* hasta 375 sea menor a 767px */
@media (max-width: 375px) {
  #profile {
    margin-top: 10px;
    margin-left: 20px;
    width: 35%;
    height: 180px;
    border-radius: 50%;
    border: 2px solid rgb(71, 71, 71);
  }
  .infoName {
    padding: 40px 40px;
  }
}

@media (min-width: 376px) {
  #profile {
    margin-top: 10px;
    margin-left: 20px;
    width: 32%;
    height: 180px;
  }
  .infoName {
    padding: 40px 40px;
  }
}

/* // Small devices (landscape phones, sea mayor 576px) */
@media (min-width: 576px) {
  #profile {
    margin-top: 10px;
    margin-left: 40px;
    width: 30%;
    height: 180px;
  }
  .infoName {
    padding: 40px 40px;
  }
}

@media (min-width: 767.98px) {
  #profile {
    margin-top: 10px;
    margin-left: 40px;
    width: 25%;
    height: 180px;
  }
  .infoName {
    padding: 40px 40px;
  }
}
@media (min-width: 991.98px) {
  #profile {
    margin-top: 10px;
    margin-left: 40px;
    width: 15%;
    height: 180px;
  }
  .infoName {
    padding: 40px 40px;
  }
  .p-tabview .p-tabview-nav-btn.p-link {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .p-tabview .p-tabview-nav-btn.p-link {
    color: #ccc !important;
  }
}
