<p-dialog header="Redactar mensaje" (onHide)="hiddenPopUpInvitation()" *ngIf="currentUser && userReceptor._id"
  [(visible)]="visibleModalInvitation" [modal]="true" [style]="{ width: '90vw' }" [draggable]="false"
  [resizable]="false">
  <app-modal-invitation [userEmisor]="currentUser" [userReceptor]="userReceptor"
    (emitContact)="sendMailInvitation($event)"></app-modal-invitation>
</p-dialog>
<div class="card text-center" *ngIf="spinner">
  <span>
    <p-progressSpinner></p-progressSpinner>
  </span>
  <br>
  <span class="text-center">Cargando...</span>
</div>
<div class="profile" *ngIf="!spinner">
  <div class="container rounded">
    <span class="fst-italic text-secondary small">
      <i class="m-1 pi pi-arrow-circle-left"></i>
      <a href="" class="text-secondary" routerLink="/project/list-project">Volver</a></span>
    <div class="card shadow-sm" style="width: 100%; min-height: 800px">
      <div class="d-flex img-user">
        <img [src]="searchUser?.urlImage || 'assets/img/no-user.jpg'" alt="Foto de usuario" id="profile"
          class="img-fluid" />
        <div class="infoName">
          <h3 class="text-light" style="text-shadow: 1px 1px 1px #000;">{{ searchUser.name }}</h3>
          <h6 class="fst-italic text-dark">
            {{ searchUser.role }} Developer
          </h6> <span class="fst-italic text-dark small"> {{ searchUser.score }} pts - {{ searchUser.level }}</span>
        </div>
      </div>
      <p-tabView id="tableProfile" [scrollable]="true" class="p-3" [(activeIndex)]="activeIndex">
        <p-tabPanel header="Mi Perfil" id="tableHeader">
          <div *ngIf="searchUser.technologies && searchUser.technologies.length > 0">
            <h5>Tecnologías:</h5>
            <div class="row">
              <div class="col 12">
                <app-technologies *ngIf="searchUser.technologies.length > 0"
                  [technologies]="searchUser.technologies"></app-technologies>
              </div>
            </div>
          </div>
          <h5>Experiencia Laboral:</h5>
          <p>Mercado Libre</p>
          <p>Accenture</p>

          <div *ngIf="searchUser.preferences && searchUser.preferences.length > 0" class="my-4">
            <h5 class="my-4">Preferencias:</h5>
            <cite *ngFor="let technologie of searchUser.preferences; let l = last" title="Preferencias">
              <img pTooltip="{{technologie}}" class="mx-2 img-technologie" width="40px" height="40px"
                [src]="'assets/img/technologies/' + getIcon(technologie)" [alt]="technologie">
            </cite>
          </div>
          <div class="row" *ngIf="searchUser.githubUsername">
            <div class="col-12">
              <p class="link">
                <b>Usuario de github: </b>
                <a target="_blank" [href]="'https://github.com/' + searchUser.githubUsername">{{
                  searchUser.githubUsername
                  }}</a>
              </p>
            </div>
          </div>
          <div class="row" *ngIf="searchUser.gitlabUsername">
            <div class="col-12">
              <p class="link">
                <b>Usuario de gitlab: </b>
                <a target="_blank" [href]="'https://gitlab.com/' + searchUser.gitlabUsername">{{
                  searchUser.gitlabUsername
                  }}</a>
              </p>
            </div>
          </div>
          <p-button *ngIf="currentUser?._id === searchUser?._id" class="mb-3"
            routerLink="/user/update/{{searchUser._id}}" icon="pi pi-file-edit" type="button"
            [style]="{ width: '100%' }" label="Editar" styleClass="p-button-help"></p-button>
          <div class="" *ngIf="!searchUser.githubUsername &&
          searchUser._id == currentUser?._id || !searchUser.gitlabUsername &&
          searchUser._id == currentUser?._id
          ">
            <div>
              <div class="row">
                <div class="col-12 col-sm-12 col-dm-4 col-lg-4 col-xl-3 mb-3 mb-sm-3" *ngIf="!visibleInputGithub && !searchUser.githubUsername &&
                searchUser._id == currentUser?._id">
                  <p-button type="button" *ngIf="!visibleInputGithub && !searchUser.githubUsername" iconPos="right"
                    icon="bi bi-github" [style]="{ width: '100%' }" label="Vincular con github" class="github"
                    styleClass="p-button-secondary" (click)="linkInputUserWithGithub()"></p-button>
                </div>
                <div class="col-12 col-sm-12 col-dm-8 col-lg-8 col-xl-9 "
                  *ngIf="!visibleInputGitlab && !searchUser.gitlabUsername">
                  <p-button type="button" iconPos="right" icon="fa-brands fa-square-gitlab" [style]="{ width: '100%' }"
                    label="Vincular con gitlab" class="github" styleClass="p-button-danger"
                    (click)="linkInputUserWithGitlab()"></p-button>
                </div>
                <p class="mt-3">
                  <strong>Al vincular el proyecto a github/gitlab tendrás acceso a métricas y a las actividades de los
                    integrantes.</strong>
                </p>
              </div>
              <div class="row mt-3" *ngIf="visibleInputGithub">
                <div class="col-sm-12 col-lg-6">
                  <label for="github">Ingresa tu nombre de usuario en github</label>
                  <input type="url" [(ngModel)]="userNameGithub" class="form-control" id="github-link" />
                  <p-button (click)="linkUsertWithGithub()" type="button" [style]="{ width: '100%' }"
                    label="Vincular usuario" class="mt-3" styleClass="p-button-help"></p-button>
                  <p-button (click)="backLinkWithGithub()" type="button" [style]="{ width: '100%' }" label="Volver"
                    class="mt-3 mx-2" styleClass="p-button-help"></p-button>
                </div>
              </div>

              <div class="row mt-3" *ngIf="visibleInputGitlab && !searchUser.gitlabUsername &&
              searchUser._id == currentUser?._id">
                <div class="col-sm-12 col-lg-6">
                  <label for="gitlab">Ingresa tu nombre de usuario en gitlab</label>
                  <input type="url" [(ngModel)]="userNameGitlab" class="form-control" id="github-link" />
                  <p-button (click)="linkUsertWithGitlab()" type="button" [style]="{ width: '100%' }"
                    label="Vincular usuario" class="mt-3" styleClass="p-button-help"></p-button>
                  <p-button (click)="backLinkWithGitlab()" type="button" [style]="{ width: '100%' }" label="Volver"
                    class="mt-3 mx-2" styleClass="p-button-help"></p-button>
                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Proyectos">
          <div class="row" *ngIf="searchUser.projects.length > 0;else notFound">
            <app-card-project *ngFor="let project of searchUser.projects" [project]="project"></app-card-project>
          </div>
          <div class="row">
            <ng-template #notFound class="col-12">
              <div class="col-12">
                <p-messages [style]="{ width: '100%' }" [(value)]="messages" [enableService]="false"
                  [closable]="true"></p-messages>
              </div>
            </ng-template>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Estadísticas" *ngIf="searchUser.githubUsername || searchUser.gitlabUsername">
          <div class="card text-center" *ngIf="spinnerMetric">
            <span>
              <p-progressSpinner></p-progressSpinner>
            </span>
            <br>
            <span class="text-center">Cargando...</span>
          </div>
          <div *ngIf="!spinnerMetric">
            <div>
              <div class="row mt-3">
                <div
                  [ngClass]="{'col-12  ': searchUser.githubUsername && !searchUser.gitlabUsername,
                              'col-12 col-sm-6 border-right'  : searchUser.githubUsername && searchUser.gitlabUsername}"
                  class="border-right"
                  *ngIf="searchUser.githubUsername && languagesUserGithub;else githubErr">
                  <h3 class="text-center">Github</h3>
                  <app-chart-doughnut *ngIf="languagesUserGithub" [data]="languagesUserGithub"></app-chart-doughnut>
                </div>
                <ng-template #githubErr>
                  <div [ngClass]="{'col-12  ': searchUser.githubUsername && !searchUser.gitlabUsername,
                  'col-12 col-sm-6 border-right'  : searchUser.githubUsername && searchUser.gitlabUsername}"
                  *ngIf="githubCommitError == true && githubError == true" 
                    class="border-right ">
                    <h3 class="text-center">Github</h3>
                    <p-messages [value]="[{ severity: 'error', detail: 'El usuario de github no fue encontrado, verifica que sea correcto o actualizalo.' }]" [enableService]="false"
                      [closable]="false"></p-messages>
                  </div>
                </ng-template>
                <div [ngClass]="{'col-12 col-sm-12': searchUser.githubUsername && !searchUser.gitlabUsername,
                      'col-12 col-sm-6 '  : searchUser.githubUsername && searchUser.gitlabUsername}"
                  *ngIf="searchUser.gitlabUsername && languagesUserGitlab;else gitlabErr">
                  <h3 class="text-center">Gitlab</h3>
                  <app-chart-doughnut *ngIf="languagesUserGitlab" [data]="languagesUserGitlab"></app-chart-doughnut>
                </div>
                <ng-template #gitlabErr>
                  <div [ngClass]="{'col-12 col-sm-12': searchUser.githubUsername && !searchUser.gitlabUsername,
                       'col-12 col-sm-6 '  : searchUser.githubUsername && searchUser.gitlabUsername}"
                       *ngIf="gitlabCommitError == true && gitlabError == true">
                    <h3 class="text-center" >Gitlab</h3>
                    <p-messages [value]="[{ severity: 'error', detail: 'El usuario de gitlab no fue encontrado, verifica que sea correcto o actualizalo.' }]" [enableService]="false"
                      [closable]="false"></p-messages>
                  </div>
                </ng-template>
              </div>
              <div class="row mt-3">
                <div [ngClass]="{'col-12 col-sm-12': searchUser.githubUsername && !searchUser.gitlabUsername,
                     'col-12 col-sm-6  border-right'  : searchUser.githubUsername && searchUser.gitlabUsername,
                      'offset-sm-0 offset-lg-6 col-12 col-sm-6' : searchUser.githubUsername && !searchUser.gitlabUsername && gitlabCommitError && gitlabError}" 
                  *ngIf="searchUser.githubUsername && repositorysCommitsGithub">
                  <h3 class="text-center">Github</h3>
                  <app-chart-bar *ngIf="repositorysCommitsGithub" [data]="repositorysCommitsGithub"></app-chart-bar>
                </div>
                <div [ngClass]="{'col-12 col-sm-12': searchUser.githubUsername && !searchUser.gitlabUsername && !githubCommitError && !githubError,
              'col-12 col-sm-6'  : searchUser.githubUsername && searchUser.gitlabUsername && !githubCommitError && !githubError,
              'col-sm-6' : searchUser.githubUsername && !searchUser.gitlabUsername && githubCommitError && githubError}"
                  *ngIf=" searchUser.gitlabUsername && repositorysCommitsGitlab">
                  <h3 class="text-center">Gitlab</h3>
                  <app-chart-bar *ngIf="repositorysCommitsGitlab" [data]="repositorysCommitsGitlab"></app-chart-bar>
                </div>
              </div>
            </div>
            <!-- <ng-template #errorMetric>
              <p-messages [value]="[{ severity: 'error', detail: messagErrorMetrics }]" [enableService]="false"
                [closable]="false"></p-messages>
            </ng-template> -->
          </div>

        </p-tabPanel>
        <p-tabPanel header="Contacto">
          <div class="row">
            <p><b>Email:</b> {{ searchUser.email }}</p>
            <p><b>País:</b> Argentina</p>
            <p><b>Provincia:</b> Buenos Aires</p>
            <p><b>Idiomas:</b> Castellano, Inglés</p>
            <div class="">
              <p-button class="mt-2 me-2" icon="pi pi-instagram" type="submit" [style]="{ minWidth: '40px' }" label=""
                routerLink="https://www.instagram.com/_meetingmk" styleClass="p-button-help"></p-button>
              <p-button class="mt-2 me-2" icon="pi pi-twitter" type="submit" [style]="{ minWidth: '40px' }" label=""
                styleClass="p-button-help"></p-button>
              <p-button class="mt-2 me-2" icon="pi pi-linkedin" type="submit" [style]="{ minWidth: '40px' }" label=""
                styleClass="p-button-help"></p-button>
              <p-button class="mt-2 me-2" icon="pi pi-discord" type="submit" [style]="{ minWidth: '40px' }" label=""
                styleClass="p-button-help"></p-button>
            </div>
            <!-- boton para contactar a la persona routerLink="/post/details-post/{{  }}" -->
            <div class="boton text-end m-2">
              <span>
                <p-button (click)="showModalInvitation()" type="button" [style]="{ width: '100%' }" iconPos="right"
                  icon="bi bi-envelope" label="Enviar invitación" class="" styleClass="p-button-help"
                  *ngIf="currentUser && currentUser._id != id">
                </p-button>
              </span>
            </div>
            <!-- boton para contactar a la persona -->

          </div>
        </p-tabPanel>
        <!-- <p-tabPanel header="Reseñas">
          <div class="row reviews m-1 py-2">
            <h5>"Gran Compañero"</h5>
            <p>
              Coincidimos en un proyecto y realizamos un gran trabajo de equipo.
            </p>
            <span class="fst-italic text-secondary">- Nahuel Savedra</span>
          </div>
          <form action="" class="d-flex flex-column  mt-2">
            <h5>Deja tu opinión</h5>
            <input type="text" pInputText class="" placeholder="Título" />
            <textarea name="" id="" cols="30" rows="10" pInputTextarea class="mt-2"
              placeholder="Ingresa un comentario..."></textarea>
            <p-button class="text-end mt-2" type="submit" [style]="{ minWidth: '14rem' }" label="Comentar"
              styleClass="p-button-help"></p-button>
          </form>
        </p-tabPanel> -->
      </p-tabView>
    </div>
  </div>
</div>