<div id="landing">
  <!--Primera Pagina-->
  <div style="background-color: #f1bcd1; height: 100vh;" class="d-flex" id="page1">
    <div style="width: 60%;" id="calltoaction">
      <div class="d-flex" style="padding: 30px 100px 20px 100px;">
        <img src="../../../assets/img/LOGO MEETING.png" alt="" width="70" height="100">
        <p class="fw-bold d-flex justify-content-end align-items-end" style="margin-bottom: 3px !important;">M E E T I N G</p>
      </div>
        <hr style="margin: auto; max-width: 80%; ">
      <div style="padding: 30px 100px 20px 100px;" class="d-flex flex-column justify-content-between h-50">
        <h1 style="font-size: 70px; font-weight: 400;">Conecta, crece, colabora:
          sumando experiencia
          laboral en comunidad.
        </h1>
        <button style="background-color: #c42e6c;
        border-radius: 25px;
        padding: 20px 60px;
        border: 0;
        color: white;
        width: 280px;
        font-size: 24px;">LEARN MORE</button>
      </div>
    </div>
    <div style="width: 40%; background: url('../../../assets/img/3.jpg'); background-size: cover; background-position: 50% 50%;" id="banner"></div>
  </div>

  <!--Segunda Pagina-->
  <div style="height: 100vh;" class="d-flex" id="page2">
    <div style="width: 60%;" class="d-flex justify-content-evenly mt-5" id="page2section1">
      <img src="../../../assets/img/1.jpg" alt="" width="300" height="380">
      <img src="../../../assets/img/2.jpg" alt="" width="300" height="380">
    </div>
    <div style="width: 40%; padding-bottom: 200px !important;" class="p-5 d-flex flex-column justify-content-end" id="page2section2">
      <hr>
      <h1 style="font-size: 75px;" class="fw-bold">Sobre la pagina</h1>
      <p class="fw-bold">Esta página es una comunidad para aquellos que
        quieran aportar ideas y sumar experiencia como
        desarrolladores. Para los que sean avanzados pueden
        aportar ayuda en los proyectos que suben, dándole
        puntajes en ranking a los usuarios, respondiendo
        consultas en el foro del sitio.</p>
    </div>
  </div>

  <!--Tercera Pagina-->
  <div style="height: 100vh; background-color: #c42e6c; color: white;" id="page3">
    <h1 style="font-size: 75px; text-align: center; padding: 50px 0;" >Nuestro Servicio</h1>
    <div class="d-flex justify-content-around" id="images">
      <div class="d-flex flex-column w-25">
        <div class="d-flex justify-content-center mb-3">
          <img src="../../../assets/img/6.jpg" alt="" width="330" height="350">
        </div>
        <h3 class="text-center">Crear Proyecto</h3>
        <p class="text-center" style="font-size: 20px;">Si tenes ideas innovadoras
        unite a esta comunidad y crea
        tus proyectos.
        </p>
      </div>
      <div class="d-flex flex-column w-25">
        <div class="d-flex justify-content-center mb-3">
          <img src="../../../assets/img/4.jpg" alt="" width="330" height="350">
        </div>
        <h3 class="text-center">Buscar Proyecto</h3>
        <p class="text-center" style="font-size: 20px;">Si estas interesado en ver
          contenido de proyecto que
          suben esta comunidad podes
          sumarte a estas propuestas.
          </p>
      </div>
      <div class="d-flex flex-column w-25 align">
        <div class="d-flex justify-content-center mb-3">
          <img src="../../../assets/img/5.jpg" alt="" width="330" height="350">
        </div>
        <h3 class="text-center">Participar de un proyecto</h3>
        <p class="text-center" style="font-size: 20px;">Si tenes conocimiento en
          programacion, es tu
          oportunidad de entrar en uno y
          aporta tus ideas.
          </p>
      </div>
    </div>
  </div>

  <!--Cuarta Pagina-->
  <div style="height: 100vh; background-color: #741b4c; color: white;" id="page4">
    <h1 style="font-size: 75px; text-align: center; padding: 50px 0;" class="h-25">De nuestros clientes</h1>
    <div class="d-flex justify-content-around h-75" id="citas">
      <div class="d-flex flex-column w-25 justify-content-around h-75" style="font-size: 20px;">
        <img src="../../../assets/img/Cita-texto.png" alt="" width="70" height="50">
        <p>Soy junior, desde que entre
          a esta comunidad pude
          ampliar mi conocimiento,
          con gente experta que
          conocí entrando a un
          proyecto.
        </p>
        <p>Juan Sosa</p>
      </div>
      <div class="d-flex flex-column w-25 justify-content-around h-75" style="font-size: 20px;">
        <img src="../../../assets/img/Cita-texto.png" alt="" width="70" height="50">
        <p>Me hablaron de esta
          página para subir mi
          proyecto, en el conocí
          gente y arme un gran
          equipo de desarrolladores
          con grandes ideas
          innovadoras.
        </p>
        <p>Pablo Sanchez</p>
      </div>
      <div class="d-flex flex-column w-25 justify-content-around h-75" style="font-size: 20px;">
        <img src="../../../assets/img/Cita-texto.png" alt="" width="70" height="50">
        <p>Interesante sitio web
          donde aportan ideas,
          adquiris conocimiento y
          además te dan
          oportunidad de crecer y
          que otros te quieran
          contratar para su
          empresa.
        </p>
        <p>Daichi Hamada</p>
      </div>
    </div>
  </div>

  <!--Quinta Pagina-->
  <div style="height: 100vh; color: white; background: url('../../../assets/img/page4.jpg.png'); background-position: 50% 50%; background-size: cover;" id="page5">
    <div class="d-flex flex-column w-50 h-100 justify-content-evenly" style="padding: 80px 80px 200px 100px !important;">
      <h2 style="font-size:60px" class="">Contáctanos</h2>
      <div class="d-flex justify-content-between w-75" style="font-size: 20px;">
        <div>
          <p>Oficina Principal</p>
          <p>Córdoba 1568,CABA</p>
        </div>
        <div class="d-flex flex-column">
          <p>Tel. (+54 9)11 4561-7890</p>
          <p>Email: meetingmk@hotmail.com</p>
          <p>Social: @_meetingmk</p>
        </div>
      </div>
    </div>
  </div>
</div>
