<div class="card text-center" *ngIf="spinner">
  <span>
    <p-progressSpinner></p-progressSpinner>
  </span>
  <br>
  <span class="text-center">Cargando...</span>
</div>
<div class="project" *ngIf="!spinner">
  <div class="container card m-auto mb-5 shadow-sm">
    <div class="row mt-5">
      <div class="offset-md-1 col-8">
        <h2 class="text-dark">Crear proyecto</h2>
      </div>
      <div class="col-4 col-sm-2 col-lg-2 text-end">
        <p-button class="ms-2" type="button" styleClass="p-button-outlined p-button-help" label="Volver"
          [style]="{ heigth: '30px !important' }" routerLink="/project/list-project"></p-button>
      </div>
    </div>
    <app-form-project (emitProject)="createProject($event)"></app-form-project>
  </div>
</div>