<!-- componente insertado extraer en form-post -->
<form (ngSubmit)="submitPost()" enctype="multipart/form-data" [formGroup]="form" class="mt-4 p-3">
  <div class="row p-0">
    <div class="offset-0 col-sm-12 col-md-10 offset-md-1">
      <label for="title" class="color">*Titulo </label>
      <input
        type="text"
        pInputText
        formControlName="title"
        class="form-control borderInput"
        placeholder="Ingrese titulo "
      />
      <span
        class="danger"
        *ngIf="
          form.get('title').hasError('required') && form.get('title').touched
        "
      >
        <small class="p-error">Este campo es <strong>requerido</strong></small>
      </span>
    </div>
  </div>
  <!-- textarea de edicion  -->

  <div class="row">
    <div class="offset-0 col-sm-12 col-md-10 offset-md-1">
      <label for="body" class="color mt-3">*Descripción </label>
      <!-- componente textare de  -->
      <div class="editor pb-5 ">
        <p-editor formControlName="body"></p-editor>
      </div>
      <span
        class="danger"
        *ngIf="
          form.get('body').hasError('required') && form.get('body').touched
        "
      >
        <small class="p-error"
          >Debe agregar una <strong>descripción</strong></small
        >
      </span>
      <span
        class="danger"
        *ngIf="
          form.get('body').hasError('minlength') && form.get('body').touched
        "
      >
        <small class="p-error"
          >Debe agregar minimo <strong>10</strong> caracteres</small
        >
      </span>
    </div>
  </div>
  <!-- type -->
  <div class="row  p-0">
    <div class="offset-0 col-sm-12 col-md-5 offset-md-1">
      <label for="project" class="color mt-3">*Asignar a un proyecto (Opcional)</label>
       <!-- ADAPTAR ESTE DESPLEGABLE PARA QUE TRAIGA LOS PROYECTOS OPCIONAL TMB POR SI ES UN POST SIN COLABORAR A UN DETERMINADO PROYECTO -->
      <p-dropdown
        [style]="{ width: '100%' }"
        formControlName="project"
        placeholder="Seleccione una opción..."
        [options]="user.projects"
        optionLabel="name"
      >
        <ng-template let-option pTemplate="item">
          <span [class]="'project-' + option.value">
            {{ option.name }}
          </span>
        </ng-template>
      </p-dropdown>       
    </div>
     
    <!-- TECNOLOGIAS -->
    <div class="offset-0 col-sm-12 col-md-5">
      <label for="name" class="color mt-3 ">*Tecnología </label>
      <p-multiSelect
        [style]="{ width: '100%' }"
        formControlName="technologies"
        placeholder="Seleccione una opción..."
        [options]="technologies"
        optionValue="value"
        optionLabel="label"
      >
        <ng-template let-option pTemplate="item">
          <span [class]="'technologies-' + option.value">
            {{ option.label }}
          </span>
        </ng-template>          
      </p-multiSelect>
      <span
        class="danger"
        *ngIf="
          form.get('technologies').hasError('required') && form.get('technologies').touched
        "
      >
        <small class="p-error">Este campo es <strong>requerido</strong></small>
      </span> 
    </div>
  </div>
      <!-- TECNOLOGIAS -->

    
  <div class="text-center p-4">
    <p-button
      [disabled]="form.invalid"
      type="submit"
      [style]="{ width: '100%' }"
      label="Crear"
      class="text-center"
      styleClass="p-button-help"
    ></p-button>
  </div>
</form>

<!-- componente form insertado -->
