.p-card	{
  background-color: #fff ;
}
form .color{
  font-weight: 700;
}

.borderInput:hover{
  border: 1px solid #c42e6c !important;
}
.p-dropdown:not(.p-disabled):hover {
  border: 1px solid #ad2c73 !important;
}
.p-editor-container {
  height: 200px;
  margin-bottom: 20px;
}

.p-editor-container:hover {
  border-radius:6px;
}
.p-editor-container .p-editor-content.ql-snow:hover{
  border: 1px solid #ad2c73 !important;
}
/* .p-editor-toolbar:hover{
  border: 1px solid #ad2c73 !important;
} */

