.row-accessories {
  background-color:#f1b3cd!important;
 
}

.developer-avatar {
  display: flex;
  justify-content: center;
}
.developer-avatar img {
  width: 50px;
 height: 50px;
 border-radius: 50%;
 border: 1px solid rgb(71, 71, 71);
 object-fit: cover;
}

.developer-skills {
  list-style: none;
  margin: 0;
  padding: 0;
}
.developer-skills li {
  display: inline-block;
  margin-right: 10px;
  font-size: 15px;
  color: #666;
  color: #0f0f0f;
  padding: 5px 10px;
  border-radius: 5px;
}
.rankingBackground {
  background-color: rgb(241, 241, 241);
}

.p-datatable .p-datatable-thead tr th {
   border: 1px solid #c42e6c;
   background-color: #c42e6c !important;
   color: #fff;
}

.p-dialog .p-dialog-header {
  background-color: #ced4da !important;
  padding:1rem;
}

/* desde 991.98px sea menor a 991.98px */
@media (max-width: 991.98px) {
 .p-datatable .sticky{
  position: sticky;
  left:0 ;
 }

 p-table tbody tr .sticky {
  background-color: #fff;
 }

}

@media (max-width: 1200px) {
  .btnes {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
