<div class="m-0">
  <footer
    class="text-center text-lg-start text-white bg-dark"
    >
    <section class="p-4">
      <div class="container  text-md-start mt-5">
        <div class="row text-center">
          <div class="col-md-6 col-lg-4 col-xl-4 mx-auto mt-md-0 mt-lg-0 "> 
             <h6 class="text-uppercase fw-bold">REDES SOCIALES</h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
             />
            <div>
              <a href="https://github.com/JoelE7/meeting-angular" class="text-white me-4">
                <i class="pi pi-github"></i>
              </a>
              <a href="https://www.instagram.com/_meetingmk/" class="text-white me-4">
                <i class="pi pi-instagram"></i>
              </a>
              <a href="https://twitter.com/meetingmk" class="text-white me-4">
                <i class="bi bi-twitter"></i>
              </a>
              <a href="https://www.linkedin.com/in/meeting-unlam-1aa70827a/" class="text-white me-4">
                <i class="pi pi-linkedin"></i>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-4 mx-auto mt-3 mt-sm-3 mt-md-0 mt-lg-0 ">
            <h6 class="text-uppercase fw-bold ">CONTACTO</h6>
            <hr
              class="mb-4 mt-0 d-inline-block mx-auto"
            />
            <p>
              <i class="pi pi-envelope mx-2"></i>
              meeting-mk@hotmail.com
            </p>
            <p><i class="pi pi-whatsapp mx-2  mb-4"></i>11 123 456 78</p>
          </div>          
        </div>
      </div>
    </section>

    <div class="text-center p-3" style="background-color: rgba(10, 10, 10, 0.2)">
      © 2023 Copyright - Todos los derechos reservados.
    </div>
  </footer>
</div>

