<form > 
<!-- <form [formGroup]="formContact" (ngSubmit)="submitContact()" class="form"> -->
  <div class="row p-0">
    <div class="col-sm-10">
      <label for="to">De:</label>
      <input
        type="text"
        pInputText
       
        class="form-control"
        placeholder="Ingrese nombre del proyecto"
      />
    </div>
  </div>

  <div class="row mt-5 p-0">
    <div class="col-sm-10">
      <label for="for">Para:</label>
      <input
        type="text"
        pInputText
    
        class="form-control"
        placeholder="Ingrese nombre del proyecto"
      />
    </div>
  </div>

  <div class="row mt-5 p-0">
    <div class="col-sm-10">
      <label for="message">Mensaje:</label>
      <textarea
        [style]="{ width: '100%' }"
      
        placeholder="Ingrese su mensaje..."
        rows="5"
        cols="30"
        pInputTextarea
        [autoResize]="true"
      ></textarea>
    </div>
  </div>
</form>