<form [formGroup]="formContact" (ngSubmit)="submitContact()" class="">
  <div class="row p-0">
    <div class="col-sm-12 col-md-12 ">
      <label for="to">De:</label>
      <input
        type="text"
        pInputText
        formControlName="to"
        class="form-control borderInput"
        placeholder="De:"
      />
    </div>
  </div>

  <div class="row mt-3 p-0">
    <div class="col-sm-12 col-md-12">
      <label for="for">Para:</label>
      <input
        type="text"
        pInputText
        formControlName="for"
        class="form-control borderInput"
        placeholder="Para:"
      />
    </div>
  </div>

  <div class="row mt-3 p-0">
    <div class="col-sm-12 col-md-12">
      <label for="message">Mensaje:</label>
      <textarea
        [style]="{ width: '100%' }"
        formControlName="message"
        placeholder="Mensaje:"
        rows="5"
        cols="30"
        pInputTextarea
        [autoResize]="true"
      ></textarea>
      <span
        class="danger"
        *ngIf="
          formContact.get('message').hasError('required') &&
          formContact.get('message').touched
        "
      >
        <small class="p-error">Este campo es <strong>requerido</strong></small>
      </span>
    </div>
  </div>
  <div class="text-center p-4">
    <p-button
      type="submit"
      [disabled]="formContact.invalid"
      [style]="{ width: '100%' }"
      label="Enviar"
      class="text-center"
      styleClass="p-button-help d-block"
    ></p-button>
  </div>
</form>