<nav class="nav-background navbar navbar-expand-lg bg-light shadow-sm" *ngIf="login()">
    <div class="container-fluid w-75">
        <a class="navbar-brand" href="#">M</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li *ngFor="let item of menu" [pTooltip]="item.tooltip" [showDelay]="item.tooltipOptions.showDelay"
                    [autoHide]="item.tooltipOptions.autoHide" [tooltipEvent]="item.tooltipOptions.tooltipEvent"
                    [tooltipPosition]="item.tooltipOptions.tooltipPosition" class="d-flex justify-content-center alig-content-center">
                    <a [class]="item.class" aria-current="page" [routerLink]="item.url"
                        [routerLinkActive]="item.urlActiveClass">
                        <i [class]="item.icon"></i>
                        {{item.name}}</a>
                </li>
            </ul>

            <form class="d-flex w-25 justify-content-center" role="search" id="searcher">
                <input class="form-control me-2 buscador" type="search" placeholder="Buscar" aria-label="Search">
            </form>
            <div class="d-flex w-25" id="butt">
              <p-button class="me-2" type="submit" label="Ingresar" styleClass="p-button-help" routerLink="/auth/login"></p-button>
              <p-button class="me-2" type="submit" label="Registrarse" styleClass= "p-button-outlined p-button-help" routerLink="/auth/register"></p-button>
              <p-button class="" type="submit" label="Perfil" styleClass= "p-button-outlined p-button-help" routerLink="/user/see-my-profile"></p-button>
            </div>
        </div>
    </div>
</nav>

<div class="">
    <app-main></app-main>
</div>

<app-footer></app-footer>
