<div class="profile">
  <div class="container rounded ">
    <div class="card" style="width:100%; min-height: 700px;">
      <div class="d-flex banner-profile">
        <div class="p-5">
          <h3 class="text-white">Proyecto: Meeting</h3>
          <h6 class="fst-italic text-secondary">Plataforma para unir desarrolladores con proyectos reales</h6>
        </div>
      </div>
      <p-tabView class="p-3">
        <p-tabPanel header="Descripcion">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus massa id tellus dignissim, vel dignissim nulla lacinia. In at varius diam. Aliquam finibus ex et sem pulvinar eleifend. Cras non eros laoreet, fringilla ex non, pulvinar libero. In a odio in risus ultricies elementum. Duis dapibus sapien ac ante venenatis, vitae accumsan ex lacinia. Nullam varius et est quis imperdiet. Ut eget lobortis orci. Suspendisse sodales feugiat metus, quis accumsan eros pretium eu. Nam pharetra aliquam quam. Pellentesque ac cursus nisl, sit amet pulvinar quam. Vivamus sed augue purus. Maecenas dolor orci, rhoncus sed aliquam at, consectetur quis sem. In in tortor sit amet tellus lacinia lobortis id vel ex. Suspendisse sapien tortor, maximus at laoreet sit amet, iaculis sed massa. In hac habitasse platea dictumst.

            Ut quis est id lectus vulputate tempus at posuere urna. Sed faucibus malesuada augue egestas volutpat. Curabitur viverra ultricies urna, at sodales mi porttitor non. Cras ac mauris in ante faucibus suscipit. Proin sit amet laoreet purus. Sed tristique pharetra ullamcorper. Maecenas eu nulla nunc. Quisque fermentum, sapien ut consectetur laoreet, tortor mi pulvinar mauris, eu condimentum tellus nunc quis orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer commodo nec nulla eu mattis. Etiam luctus mauris non dictum suscipit. Quisque eu ante id risus ornare tincidunt. Praesent ante metus, venenatis ac suscipit ut, maximus vitae augue. Nullam id tellus placerat, hendrerit quam et, varius turpis. Proin sit amet consectetur orci, nec ultricies magna. Cras nec dictum dolor, at sollicitudin purus.</p>
        </p-tabPanel>
        <p-tabPanel header="Tecnologias">
          <p>Angular</p>
          <p>Javascript</p>
          <p>HTML</p>
          <p>CSS</p>
          <p>Nodejs</p>
          <p>MongoDb</p>
        </p-tabPanel>
        <p-tabPanel header="Integrantes">
          <div class="row">
            <h5>Ezequiel</h5>
          </div>
          <div class="row">
            <h5>Joel</h5>
          </div>
          <div class="row">
            <h5>Jessi</h5>
          </div>
          <div class="row">
            <h5>Nahue</h5>
          </div>
          <div class="row">
            <h5>Diego</h5>
          </div>
        </p-tabPanel>
        <p-tabPanel header="MVPs">
          <div class="row">
            <p>MVP 0 - Crear pantallas que describen las funcionalidades</p>
            <p>MVP 1 - Crear funcionalidades core</p>
            <p>MVP 2 - Agregar metricas y coneccion Github</p>
            <p>MVP 3 - Entrega de proyecto</p>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>

