<div class="profile">
  <div class="container rounded">
    <div class="card shadow-sm" style="width:100%; min-height: 700px;">
      <app-banner [title]="'Turisteando'" [subtitle]="'Aplicacion Web'"></app-banner>
      <p-tabView class="p-3">
        <p-tabPanel header="Datos del proyecto">
          <div class="row">
            <!-- <div class="col-12">
              <p> Nombre del proyecto:
                <span>{{searchProject.name}}</span>
              </p>
            </div> -->
          </div>
          <div class="row">
            <div class="col-6">
              <p> <b>Fecha inicio:</b> 4/1/2023
                <span>{{searchProject.startDate | date:'dd/MM/YYYY'}}</span>
              </p>
            </div>
            <div class="col-6">
              <p> <b>Fecha Fin:</b> 6/2/2023
                <span>{{searchProject.startDate | date:'dd/MM/YYYY'}}</span>
              </p>
            </div>
          </div>
          <div class="row">
            <!-- <div class="col-6">
              <p> Tipo de proyecto:
                <span>{{searchProject.typeProject}}</span>
              </p>
            </div> -->
            <div class="col-12">
              <p><b>Cantidad de participantes:</b> 6
                <span>{{searchProject.amountParticipants}}</span>
              </p>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Descripcion">
          <p>El proyecto consiste en el desarrollo de una plataforma web de reservaciones para destinos turísticos. Utilizando técnicas de programación modernas, como inteligencia artificial y aprendizaje automático, nuestra plataforma brindará una experiencia personalizada al usuario. Además, se implementará un sistema de recomendaciones basado en las preferencias de cada cliente, así como también un módulo de pago seguro y un chatbot para brindar atención al cliente en tiempo real.
            Nuestro equipo trabajará en colaboración con diferentes agencias turísticas para ofrecer una amplia gama de opciones de alojamiento, tours y actividades en cada destino. Se integrará un mapa interactivo para que los usuarios puedan explorar y conocer la zona antes de realizar su reserva.<br><br>
            La plataforma contará con una interfaz amigable y responsive, adaptada a diferentes dispositivos móviles y sistemas operativos. Además, se implementará un sistema de retroalimentación para que los usuarios puedan calificar su experiencia y brindar sugerencias para futuras mejoras.
            En resumen, nuestro proyecto de turismo tiene como objetivo mejorar la experiencia del usuario al momento de planear y reservar su viaje, utilizando tecnología de vanguardia para brindar una experiencia personalizada y segura.
          </p>
        </p-tabPanel>
        <p-tabPanel header="Perfiles">
          <div class="w-50 d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <p-radioButton name="profile" value="front-1" inputId="1" class="me-1" [(ngModel)]="profile"></p-radioButton>
              <p style="margin: 0">Front End Developer Angular</p>
            </div>
            <p-tag [severity]="'warning'" value="SIN ASIGNAR"></p-tag>
          </div>
          <div class="w-50 d-flex justify-content-between">
            <div class="d-flex">
              <p-radioButton name="profile" value="front-2" inputId="2" class="me-1" [(ngModel)]="profile"></p-radioButton>
              <p style="margin: 0">Front End Developer Angular</p>
            </div>
            <p-tag [severity]="'warning'" value="SIN ASIGNAR"></p-tag>
          </div>
          <div class="w-50 d-flex justify-content-between">
            <div class="d-flex">
              <p-radioButton name="profile" value="back-1" inputId="3" class="me-1" [(ngModel)]="profile"></p-radioButton>
              <p style="margin: 0">Back End Developer Node JS</p>
            </div>
            <p-tag [severity]="'warning'" value="SIN ASIGNAR"></p-tag>
          </div>
          <div class="w-50 d-flex justify-content-between">
            <div class="d-flex">
              <p-radioButton name="profile" value="back-2" inputId="4" class="me-1" [(ngModel)]="profile"></p-radioButton>
              <p style="margin: 0">Back End Developer Node JS</p>
            </div>
            <p-tag [severity]="'warning'" value="SIN ASIGNAR"></p-tag>
          </div>
          <div class="w-50 d-flex justify-content-between">
            <div class="d-flex">
              <p-radioButton name="profile" value="ux" inputId="2" class="me-1" [(ngModel)]="profile"></p-radioButton>
              <p style="margin: 0">UX Designer</p>
            </div>
            <p-tag [severity]="'warning'" value="SIN ASIGNAR"></p-tag>
          </div>
          <div class="w-50 d-flex justify-content-between">
            <div class="d-flex">
              <p-radioButton name="profile" value="bbd" inputId="2" class="me-1" [(ngModel)]="profile"></p-radioButton>
              <p style="margin: 0">Gestor de Base de Datos MongoDB</p>
            </div>
            <p-tag [severity]="'warning'" value="SIN ASIGNAR"></p-tag>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Colaborar">
          <div class="problem-section">
          <h2>Problema del proyecto</h2>
          <p>Este proyecto tiene un problema que necesita ser resuelto para poder avanzar. El problema es el siguiente:</p>
          <ul>
            <li><strong>Descripción:</strong> El sistema de autenticación no está funcionando correctamente y los usuarios no pueden iniciar sesión.</li>
            <li><strong>Causa probable:</strong> Un error en la configuración del servidor de autenticación.</li>
            <li><strong>Impacto:</strong> Los usuarios no pueden acceder a las funcionalidades del sistema y el proyecto no puede avanzar sin resolver este problema.</li>
          </ul>
            <p-button type="button" [style]="{ width: '100%' }"
                      label="Colaborar con proyecto" class="" styleClass=" p-button-help"><i class="m-1 fas fa-hands-helping"></i></p-button>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Integrantes" *ngIf="projectAccept == true">
          <div class="row mt-3">
            <div class="col-2 d-flex justify-content-center">
              <img width="60" height="60" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"
                class="rounded-circle">
            </div>
            <div class="col-7">
              <h4>Joel Escobar</h4>
              <h6>Front-end developer</h6>
            </div>
            <div class="col-3 text-center">
              <p-button type="button" [style]="{ width: '100%' }" label="Ver perfil" class=""
                styleClass="p-button-outlined p-button-help" routerLink="/user/see-my-profile"></p-button>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-2 d-flex justify-content-center">
              <img width="60" height="60" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user"
                class="rounded-circle">
            </div>
            <div class="col-7">
              <h4>Ezequiel Sanson</h4>
              <h6>Back-end developer</h6>
            </div>
            <div class="col-3 text-center">
              <p-button type="button" [style]="{ width: '100%' }" label="Ver perfil" class=""
                styleClass="p-button-outlined p-button-help" routerLink="/project/create"></p-button>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Tareas" *ngIf="projectAccept == true">
          <div class="row">
            <div class="col-12">
              <app-table-task-list [tasks]="tasks"></app-table-task-list>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="MVPs" *ngIf="projectAccept == true">
          <div class="row">
            <div class="d-flex justify-content-between mb-1">
              <div class="d-flex align-items-center justify-content-center">
                <p [style]="{ margin: '0 !important'}">MVP 0 - Crear pantallas que describen las funcionalidades</p>
              </div>
              <div>
                <p-button icon="pi pi-file-edit" type="button" [style]="{ width: '40px', height: '40px' }" label="" class="" styleClass=" p-button-warning" routerLink="/mvp/update"></p-button>
                <p-button icon="pi pi-search" type="button" [style]="{ width: '40px', height: '40px' }" label="" class="ms-1" styleClass=" p-button-primary" routerLink="/mvp/details-mvp/1"></p-button>
              </div>
            </div>
            <div class="d-flex justify-content-between mb-1">
              <div class="d-flex align-items-center justify-content-center">
                <p [style]="{ margin: '0 !important'}">MVP 1 - Presentar funcionalidades Core</p>
              </div>
              <div>
                <p-button icon="pi pi-file-edit" type="button" [style]="{ width: '40px', height: '40px' }" label="" class="" styleClass=" p-button-warning" routerLink="/mvp/update"></p-button>
                <p-button icon="pi pi-search" type="button" [style]="{ width: '40px', height: '40px' }" label="" class="ms-1" styleClass=" p-button-primary" routerLink="/mvp/details-mvp/1"></p-button>
              </div>
            </div>
            <div class="d-flex justify-content-between mb-1">
              <div class="d-flex align-items-center justify-content-center">
                <p [style]="{ margin: '0 !important'}">MVP 2 - Agregar funcionalidades de Valor</p>
              </div>
              <div>
                <p-button icon="pi pi-file-edit" type="button" [style]="{ width: '40px', height: '40px' }" label="" class="" styleClass=" p-button-warning" routerLink="/mvp/update"></p-button>
                <p-button icon="pi pi-search" type="button" [style]="{ width: '40px', height: '40px' }" label="" class="ms-1" styleClass=" p-button-primary" routerLink="/mvp/details-mvp/1"></p-button>
              </div>
            </div>
          </div>
          <div class="row text-end mt-5">
            <div class="col-12">
              <p-button type="button" [style]="{ width: '100%' }"
                label="Crear MVP" class="" styleClass=" p-button-help" routerLink="/mvp/create"></p-button>
            </div>
          </div>
        </p-tabPanel>
        <div class="row text-end mt-5">
          <div class="col-12">
            <p-button (click)="joinAProject()" *ngIf="projectAccept == false" type="button" [style]="{ width: '100%' }"
              label="Unirse al Proyecto" class="" styleClass="p-button-help"></p-button>
            <p-button class="ms-2" type="button" styleClass="p-button-success" label="Finalizar Proyecto" [style]="{ heigth: '30px !important' }"></p-button>
          </div>
        </div>
      </p-tabView>
    </div>
  </div>
</div>
