/* You can add global styles to this file, and also import other style files */
.card{
  border: none !important;
}

.p-button-outlined-2{
  border: 2px solid #ff9ec5 !important;
  background-color: white !important;
  color: #ff9ec5 !important;
}
.p-button-outlined-2:hover{
  border: 2px solid #ff9ec5 !important;
  background-color: #ff9ec5 !important;
  color: white !important;
}


.p-confirm-dialog-reject{
  background-color: #c42e6c !important;
  border: 1px solid #ad2c73 !important;
}
.p-confirm-dialog-accept{
  background-color: #c42e6c !important;
  border: 1px solid #ad2c73 !important;
}

.min-height{
  min-height: 550px !important;
  display:flex;

flex-direction:column;

justify-content:center;

align-items:center;
}

@media screen and (max-width: 600px) {
  .min-height{
    min-height: 0 !important;
  }
}