<div class="container-fluid" *ngIf="posts.length > 0">

    <div class="row">
        <div class="col-12">
            <p class="h6 text-center mt-3">{{posts[0].title}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p-button class="post-buttonn" type="button" [style]="{ width: '100%' }" label="Ver post" class="py-2" styleClass="p-button-help"
                routerLink="/post/details-post/{{ posts[0]._id }}"></p-button>
        </div>
    </div>

</div>