
<div class="container m-auto">
  <div class="row">
    <div class="col">
      <app-suggestions-project></app-suggestions-project>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-8">
      <h2 class="text-dark">Listado de Proyectos</h2>
    </div>
    <div class="col-4">
      <p-button
        type="button"
        [style]="{ width: '100%' }"
        label="Crear Proyecto"
        class="float-end"
        styleClass=" p-button-help"
        routerLink="/project/create"
      ></p-button>
    </div>
  </div>

  <div class="d-flex">
<!----------------- COMPONENTE FILTRO -------------------->
    <div class="w-25" id="filtro">
      <h2>Filtros</h2>

      <label for="complexity">Complejidad</label>
      <p-cascadeSelect  optionLabel="complexity"
                        optionGroupLabel="complexity"
                        [options]="complexitys"
                        [style]="{ minWidth: '14rem', marginBottom: '1rem' }"
                        placeholder="Seleccione una opcion">
      </p-cascadeSelect>

      <label for="typeProyects">Tipo de proyecto</label>
      <p-cascadeSelect  optionLabel="typeProyects"
                        optionGroupLabel="typeProyects"
                        [options]="typeProyects"
                        [style]="{ minWidth: '14rem' }"
                        placeholder="Seleccione una opcion">
      </p-cascadeSelect>
      <br><br>
      <label>Lenguajes:</label><br>
      <input type="checkbox" value="Javascript"/> Javascript
      <br>
      <input type="checkbox" value="C#"/> C#
      <br>
      <input type="checkbox" value="Java"/> Java
      <br><br>
      <label>Tecnologias:</label><br>
      <input type="checkbox" value="Angular"/> Angular
      <br>
      <input type="checkbox" value="React"/> React
      <br><br>
      <p-button
      type="button"
      [style]="{ width: '100%' }"
      label="Filtrar"
      class="float-start"
      styleClass=" p-button-help"
      routerLink="/project/create"
      icon="pi pi-search"
    ></p-button>
    </div>
<!------------------------------------->

    <div class="w-75">
      <app-card-project></app-card-project>
    </div>
  </div>
</div>
