<div class="m-auto projects">
  <div class="container row standingOut shadow-sm" style="margin: 10px 0px;">
    <div class="col">
      <app-suggestions-project></app-suggestions-project>
    </div>
  </div>

  <div class="container d-flex flex-column standingOut shadow-sm p-3 mb-2">
    <div class="w-100 d-flex">
      <div class="col-8">
        <h3 class="text-center p-0 m-0">Proyectos</h3>
      </div>
      <div class="col-4">
        <p-button type="button" [style]="{ width: '100%' }" label="Crear Proyecto" class="float-end"
          styleClass=" p-button-help" routerLink="/project/create"></p-button>
      </div>
    </div>
    <!----------------- COMPONENTE FILTRO extraer-------------------->
    <div class="w-100 d-flex">
      <div class="w-25">
        <div class="" id="filtro">
          <h2>Filtros</h2>

          <label for="complexity">Complejidad</label>
          <p-cascadeSelect optionLabel="complexity" optionGroupLabel="complexity" [options]="complexitys"
            [style]="{ minWidth: '14rem', marginBottom: '1rem' }" placeholder="Seleccione una opcion">
          </p-cascadeSelect>

          <label for="typeProyects">Tipo de proyecto</label>
          <p-cascadeSelect optionLabel="typeProyects" optionGroupLabel="typeProyects" [options]="typeProyects"
            [style]="{ minWidth: '14rem' }" placeholder="Seleccione una opcion">
          </p-cascadeSelect>
          <br><br>
          <label>Lenguajes:</label><br>
          <input type="checkbox" value="Javascript" /> Javascript
          <br>
          <input type="checkbox" value="C#" /> C#
          <br>
          <input type="checkbox" value="Java" /> Java
          <br><br>
          <label>Tecnologías:</label><br>
          <input type="checkbox" value="Angular" /> Angular
          <br>
          <input type="checkbox" value="React" /> React
          <br><br>
          <label>Estado:</label><br>
          <input type="checkbox" value="Javascript" /> Inicial<br>
          <input type="checkbox" value="Javascript" /> En progreso<br>
          <input type="checkbox" value="Javascript" /> Solicitando Apoyo
          <br><br>
          <p-button type="button" [style]="{ width: '100%' }" label="Filtrar" class="float-start"
            styleClass=" p-button-help" routerLink="/project/create" icon="pi pi-search"></p-button>
        </div>
      </div>
         

      <div class="w-75">
         <app-card-project *ngFor="let project of listProject" [project]="project"></app-card-project>
      </div>
    </div>
     <!----------------- COMPONENTE modal-------------------->
      <p-dialog  [header]="question"  [(visible)]="visiblePopUpQuestion" [position]="'right'"
      [transitionOptions]="'1000ms'">
      <app-modal-question (eventEmitterHiddenPopUpQuestion)="hiddenPopUpQuestion($event)" (eventEmitterAnswer)="answerQuestion($event)"></app-modal-question>
    </p-dialog>
       <!----------------- COMPONENTE modal-------------------->
  </div>
</div>