<!-- modal de enviar sugerencia a un comocido sobre ese post -->

<p-dialog header="Redactar mensaje" *ngIf="currentUser && searchPost._id" [(visible)]="visibleModalSuggest" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
   <app-modal-suggest [post]="searchPost" [userEmisor]="currentUser" [userReceptor]="searchPost.author" (emitContact)="sendMailSuggestPost($event)"></app-modal-suggest> 
</p-dialog> 

<!-- modal de contactar a ese usuario -->
<p-dialog header="Redactar mensaje" *ngIf="currentUser && userReceptor._id" [(visible)]="visibleModalContact" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <app-modal-contact [userEmisor]="currentUser" [userReceptor]="userReceptor" (emitContact)="sendMailContact($event)"></app-modal-contact>
</p-dialog>

<div class="postBackground">
  <div class="container">
    <span id="btnBack" class="fst-italic text-secondary small">
      <i class="m-1 pi pi-arrow-circle-left"></i>
      <a class="text-secondary" routerLink="/post/list-post">Volver</a></span
    >
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 col-lg-6">
        <div class="card p-3">
          <p-chip
            label="{{ searchPost.author?.name }} (
              {{ searchPost.author?.level }})"
            image="https://bootdey.com/img/Content/avatar/avatar2.png"
          ></p-chip>

          <small class="text-secondary"
            >Posteo {{ searchPost.date | date : "short" }}hs</small
          >
          <h3 class="titulo">
            {{ searchPost.title }}
          </h3>
          <p class="">{{ searchPost.body }}</p>

          <footer _ngcontent-bug-c114="" class="blockquote-footer mt-3">
            <b _ngcontent-bug-c114="">Tecnologías utilizadas:</b>
            <cite
              *ngFor="let technologie of searchPost.technologies; let l = last"
              title="Source Title"
            >
              {{ technologie }} -</cite
            >
          </footer>

          <!--  seccion comentarios del post -->
          <hr />

          <div class="Comments">
            <h4 class="mt-3" *ngIf="searchPost.messages">
              Últimos Comentarios({{ searchPost.messages.length }})
            </h4>
            <div
              class="card mt-4 cardCommentPost p-2"
              *ngFor="let message of searchPost.messages"
            >
              <p-chip
                label="{{ message?.author?.name }}"
                image="assets/img/no-user.jpg"
              ></p-chip>
              <p>{{ message.message }}</p>
              <div class="text-end mb-2">
                <p-button
                  type="button"
                  icon="pi pi-thumbs-up-fill"
                  styleClass="p-button-rounded p-button-outlined mx-2 "
                ></p-button>
              </div>
            </div>

            <form [formGroup]="form" (ngSubmit)="createMessage()" class="mt-4">
              <textarea
                id=""
                rows="5"
                cols="60"
                pInputTextarea
                class="borderInput"
                placeholder="Añade un comentario.."
                [style]="{ width: '100%' }"
                formControlName="comment"
              ></textarea>

              <p-button
                *ngIf="currentUser"
                type="submit"
                [style]="{ width: '100%' }"
                label="Comentar"
                class="d-block py-2"
                styleClass="p-button-help"
                [disabled]="form.invalid"
              ></p-button>
            </form>
          </div>
          <!--  seccion comentarios del post -->
        </div>
      </div>
      <!-- segunda columna -->
      <div class="col-sm-12 col-md-10 col-lg-4 mt-4 mt-sm-4 mt-lg-0">
        <div class="card">
          <div class="card flex align-items-center py-3 flex-wrap">
            <p-chip
              label="{{ searchPost.author?.name }} (
                {{ searchPost.author?.level }}) "
              image="https://bootdey.com/img/Content/avatar/avatar2.png"
            ></p-chip>
          </div>
          <p class="m-2">
            Hola soy {{ searchPost.author?.name }} me encuentro en último año de
            Ingeniería de Software en la Unlam y trabajo como pasante en
            Globant. También soy exalumno del Programa de Intercambio Global
            UGRAD Primavera 2023.
          </p>
          <!-- boton para contactar a la persona -->
          <div class="boton text-center m-2">
            <span>
              <p-button
              (click)="showModalContact(searchPost.author)"
                type="submit"
                [style]="{ width: '100%' }"
                iconPos="right"
                icon="bi bi-envelope"
                label="Contactar"
                styleClass="p-button-help"
              >
              </p-button>
            </span>
          </div>
          <!-- boton para contactar a la persona -->
        </div>

        <!-- mas datos del autor -->
        <div class="card mt-4 cardPost p-3">
          <h6>Otros post de {{ searchPost.author?.name }}</h6>
          <p class="text-dark my-2">Sobre POSTGRESQL</p>
          <small>#apacheage #postgres #database</small>
          <p class="text-dark my-2">Que es Apache Age?</p>
          <small>#blog #apacheage #postgres #database</small>
        </div>
        <!-- mas datos del autor -->

        <!-- boton para sugerir post" -->
        <div class="boton text-center mt-4">
          <span>
            <p-button
            (click)="showModalSuggest()"
              type="submit"
              [style]="{ width: '100%' }"
              iconPos="right"
              icon="bi bi-share"
              label="Compartir"
              class=""
              styleClass="p-button-help"
            >
            </p-button>
          </span>
        </div>
        <!-- boton para contactar a la persona -->
      </div>

      
    </div>
  </div>
</div>
